 {% extends "base.html" %}

{% block title %}Liste des logs machines{% endblock %}
{% block content_title %}Liste des logs machines{% endblock %}
{% block image %}<img src="/media/images/oxygen/search.png" />{% endblock %}

{% block extrajs %}
{{ block.super }}
  <script type="text/javascript" src="{{ MEDIA_URL }}js/clariadmin.js"></script>
{% endblock %}
{% block content %}
<div >
  <h1> {{old_hostname}} {{action}} le {{date}}</h1>
  <div class="left" style="text-align:left;">
    <p><b>{% if log.host %}<a href="{% url clariadmin.views.modify log.host.id %}">Modifier l'hôte: {{ log.host.hostname }}</a>{% else %}<i style="color:red;">Deleted</i> {% endif %}</b></p>
    <h2><b>Liste des modifications du {{date}} par {{user}}:</b></h2>
<ul>
{% for change in host_changes %}
  <li>{{change}}</li>
{% endfor %}
{% for change in fields_changes %}
  <li>{{change}}</li>
{% endfor %}
</ul>
</div>
</div>

{% endblock %}
