{% extends "base.html" %}

{% block title %}Changement de mot de passe{% endblock %}
{% block content_title %}Changement de mot de passe{% endblock %}
{% block image %}<img src="/media/images/oxygen/lock.png" />{% endblock %}

{% block content %}

<fieldset class="block">
    <legend>Changement de mot de passe</legend>
{% if validlink %}

    <p>Merci de saisir votre nouveau mot de passe 2 fois, dans le but de vérifier que vous n'ayez pas fais de faute de frappe.</p>
    <form action="" method="post">{% csrf_token %}
    
    {% if form.errors %}
      <p style="color: red;">Erreurs.</p>
    {% endif %}

    <table class="search">
        <tr>
            <td>{{ form.new_password1.label_tag }}{{ form.new_password1.errors }}</td>
            <td>{{ form.new_password1 }}</td>
        </tr>
        <tr>
            <td>{{ form.new_password2.label_tag }}{{ form.new_password2.errors }}</td>
            <td>{{ form.new_password2 }}</td>
        </tr>
    </table>
    
    <span class="bouton"><img class="bouton_img" src="/media/images/oxygen/ok.png" />
      <input type="submit" value="Modifier le mot de passe" />
    </span>

    </form>

{% else %}
    <p>Le formulaire à déja été utilisé.<br />
        Merci de recommencer la 
        <a href="{% url django.contrib.auth.views.password_reset %}">procédure de re-initialisation</a>.
    </p>
{% endif %}

</fieldset>

{% endblock %}