{% extends "base.html" %}

{% block title %}Re-initialisation du mot de passe{% endblock %}
{% block content_title %}Re-initialisation du mot de passe{% endblock %}
{% block image %}<img src="/media/images/oxygen/lock.png" />{% endblock %}

{% block content %}

<fieldset class="block">
    <legend>Re-initialisation du mot de passe</legend>
    <p>Vous avez oublié votre mot de passe ?</p>
    <p>Merci de saisir votre adresse email, et suivez la procédure décrite dans le message.</p>
    <p>Vous pourrez alors saisir un nouveau mot de passe.</p>
    <form method="post" action="{% url django.contrib.auth.views.password_reset %}">{% csrf_token %}
    {{ form.email.errors }}
    <p><label for="id_email">Adresse E-Mail: </label> {{ form.email }}</p>
     <span class="bouton"><img class="bouton_img" src="/media/images/oxygen/ok.png" /><input type="submit" value="Re-initialiser le mot de passe" /></span>
    </form>
</fieldset>
{% endblock %}