/* CLARITICK */

body { font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif !important; }

.claritick body {
    margin:0;
    padding:0;
    background-color:#eff4ff;
    background-image:url('/static/images/deg_fond.png');
    background-repeat:repeat-y;
    background-position:left;
    font-size:9pt;
    color:#333;
}

.clear {
    clear:both; 
    visibility:hidden;
    margin:0;
    padding:0;
}

img {
    border: 0;
}

h1.title {
    font-size: 2em;
    text-align:center;
    font-weight:bold;
    margin:3px;
    margin-bottom:15px;
    margin-top: 0;
    color:#013368;
    background-color: #eeeeff;
    border: 1px solid black;
    border-top: 0;
    padding: 0;
    -webkit-box-shadow: #ddd 0px 5px 10px;
    -moz-box-shadow:  #ddd 0px 5px 10px;
    box-shadow:  #ddd 0px 5px 10px;
}

h2 {
    font-size: 1.6em;
    text-align:left;
    font-weight:normal;
    margin:3px;
    margin-bottom:5px;
    color:#013368;
    margin-top: 20px;
}

#menuPrincipal ul {
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0;
    margin: 0;
}

table {
  color: #013368;
  padding: 0;
  margin: 0;
}

table td,th,tr {
  padding: 0;
  margin: 0;
}

table.bigfont td{
  font-size: 1.2em !important;
}

table.resultat {
    width: 98%;
    text-align: left;
}

table.resultat thead {
    border-top: 1px solid #ccc;
}

table.resultat th,table.resultat td {
  border-right: 1px solid #ccc;
  font-weight: normal;
}

table.resultat th {
  white-space: nowrap;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

table.resultat td {
  padding: 5px;
}

table.search tr {
  margin: 5px;
  font-weight: bold;
}
table.search td {
    padding: 2px;
    padding-right: 30px;
}
table.search th {
    padding-right: 5px;
    vertical-align: middle;
}

table a {
  text-decoration: none;
  font-weight: bold;
  color: #013368;
}

table td.label {
  font-weight: normal;
}

table a:hover {
  text-decoration: none;
  color: red;
}

/*##################################################
################## LA BARRE DE MENU ################
##################################################*/

table#menuPrincipal{
    background:white;
    color:black;
    padding-left: 15px;
    border-collapse: separate;
    border-bottom:gray solid 1px;
    width: 100%;
}

#menuPrincipal td {
    padding:1px;
    vertical-align: middle;
}

/*##################################################
#################### FORMULAIRES ###################
##################################################*/

#contenu textarea {
    /*border: 1px solid #99afd6;*/
    /*padding: 2px 3px !important;*/
    font-family: monospace !important;
}

.claritick #contenu input[type="button"], .claritick #contenu input[type="submit"] {
    background: transparent;
    border: 0;
    padding: 0;
}

.claritick #contenu input[type="text"] {
    height: 14px;
}

/* fix bordure à l'intérieur des inputs (surcharge de base.css de django admin) */
input[class^="dijit"] {
    border: 0;
}

/* Anti dojango width: 15em; */
.bigfields .dijitTextBox {
    width: 40em;
}

.form {
    background-color: #eeeeff;
    border: 1px solid lightgrey;

}
.form-aligned label {
    float: left;
    margin-right: 80px;
}

#widget_id_action-actions {
    width: 250px;
}

.checkbox-list {
    max-height: 400px;
    overflow: auto;
    padding-right: 20px;
    background-color: #F7FCFF;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}

.checkbox-list ul {
    text-align: left;
    margin: 0;
    padding: 0;
}

.checkbox-list ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#filtres-table td, #filtres-table th {
    vertical-align: top !important;
}

#id_text {
    height: inherit !important;
    max-height: inherit !important;
}

.selected {
    background-color: #FFC !important;
}
/******************* Boutons de validation ********************/
.bouton {
    background-color:#FFFFFF;
    border:1px solid #99AFD6;
    color:#333333;
    font-size:11pt;
    height:20px;
    line-height:20px;
    padding:5px 5px;
    margin-left: 10px;
    text-decoration:none;
    -webkit-box-shadow: rgba(64, 64, 64, 0.1) 4px 4px 5px;
}

.bouton, .bouton input {
    cursor: pointer;
}

.bouton_img {
    vertical-align: middle;
    padding: 5px;
    padding-left: 0;
    position: relative;
    left: 5px;
    z-index: 0;
}

.tableau_center, .center {
    margin-left:auto;
    margin-right:auto;
    text-align: left;
}

.row1 {
    background-color: #D3DBFF;
}

.row2 {
    background-color: white;
}

.rowVisited {
    color: grey;
}

.rowVisited a {
    color: grey;
}


/*##################################################
################ STYLE MENU GAUCHE #################
##################################################*/

/* Menu de gauche */

#gauche {
    position: fixed;
    top: 0px;
    padding-left: 20px;
    width: 185px;
    height:100%;
    background-color:#98b3e9;
    background-image:url('/static/images/deg_menugauche.png');
    background-repeat:repeat-x;
    background-position:top;
    color:#013368;
    /*border-left:#013368 1px solid;*/
    border-bottom:#013368 1px solid;
    border-right:#013368 1px solid;
    text-align:center;
    z-index: 100;
    display: none;
    overflow-y: auto;
    /* Ie sucks */
    _position: absolute;
    top: expression(body.scrollTop + 0 + "px");
}

#gauche-spin {
    position: fixed;
    cursor: pointer;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 20px;
    background-color: #98B3E9;
    background-image:url('/static/images/deg_menugauche.png');
    background-repeat:repeat-x;
    background-position:top;
    /* Ie sucks */
    _position: absolute;
    top: expression(body.scrollTop + 0 + "px");
}

div#gauche ul.menu {
    margin-bottom: 5px;
}

div#gauche ul li {
    padding: 0;
    list-style-type : none;
    list-style-position : outside;
}

div#gauche h2 {
    color: black;
    margin: 0;
    vertical-align: middle;
    font-size: 1.4em;
    text-shadow: rgba(64, 64, 64, 0.6) 2px 2px 3px;
}

div#gauche h2 img {
    position: relative;
    left: -15px;
    z-index: 150;
}


div#gauche a {
    margin:0;
    margin-top:5px;
    margin-left:2px;
    display:block;
    padding-left:5px;
    width:160px;
    min-height:25px;
    line-height:25px;
    background-color:#d6e2fa;
    background-image:url('/static/images/deg_menu.png');
    background-repeat:repeat-x;
    background-position:top left;
    color:#013368;
    font-size: 10pt;
    font-weight:bold;
    text-decoration:none;
    border-bottom:#013368 1px solid;
    -webkit-box-shadow: rgba(64, 64, 64, 0.2) 2px 2px 15px;
    -moz-box-shadow: rgba(64, 64, 64, 0.2) 2px 2px 15px;
    box-shadow: rgba(64, 64, 64, 0.2) 2px 2px 15px;
}

div#gauche a:hover {
    background-color:#b0bfde;
    background-image:url('/static/images/deg_menusurvol.png');
    background-repeat:repeat-x;
    background-position:top left;
    color:#fff;
    border-bottom:#fff 1px solid;
}


.menu {
    width:150px;
    margin:0;
    padding:0;
    list-style:none;
    text-align:left;
}


/************** div contenu **************/
#contenu {
    text-align: center;
    margin-left: 25px;
    margin-bottom: 40px; /* for fixed stuff */
}

#contenu p {
    font-size: 13px;
}

#contenu h1 img {
    float: left;
}

#contenu .image {
    position: absolute;
    top: 50px;
    left: 200px;
}

#contenu table {
    margin-top: 20px;
    font-weight: normal;
}

#contenu table.search {
    margin: 10px;
}

#contenu table.search .dijitTextBox {
    width: 20em;
}

#contenu table.search .dijitTextArea {
    width: 15.55em;
}

#contenu table.clariadmin_form .dijitTextBox,.dijitTextArea {
    width: 300px;
    margin-right: 10px;
}

#contenu table tr.bigrow {
    height: 45px;
}

#contenu table td.bigrow {
    vertical-align: middle;
}

#contenu table tr.smallrow_row1 {
    height: 10px;
    background-color: #F2F0DC;
}

#contenu table tr.smallrow_row2 {
    height: 10px;
    background-color: #E6E4D2;
}

#contenu table td label {
    vertical-align: top;
}

#contenu fieldset {
    margin-bottom: 10px;
}

#contenu fieldset p label {
    vertical-align: top;
}

#contenu fieldset legend {
    white-space: normal;
    font-weight: bold;
    font-size: 18px;
    color: #777;
}

#contenu fieldset table .large {
    width: 150px;
    vertical-align: middle;
    font-weight: bold;
}

#contenu fieldset table .right {
    padding-left: 50px;
}

#contenu fieldset table {
    margin: 0;
    padding: 0;
    color: black;
}

#contenu textarea, #contenu input {
    font-size: 13px;
}
#contenu input {
    height: 1.3em !important;
}
div#contenu.admin input {
    height: auto !important;
}


#contenu form fieldset table tr {
    height: 25px;
}
#contenu form fieldset table td {
    vertical-align: middle;
}


#contenu div.breadcrumbs {
    background: transparent;
    text-decoration: none;
}

.block, .inline {
    padding: 5px;
    text-align: left;
    padding-top: 15px;
    border: 1px solid #999;
    /*background-color: #dedede;*/
}
fieldset.block, fieldset.inline {
    padding-top:0;
}

.inline div {
    display: inline;
}

.block label,.inline label {
    font-weight: bold;
}

table#menuPrincipal p img {
    position: relative;
    top: -5px;
}
table#menuPrincipal a {
    color: #555;
}

body.claritick {
	margin: 0;
}
fieldset {
    margin: 5px;
}

td, th, .object-tools {
    border: 0;
    font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif !important;
}

/* Admin hack */

div#contenu.admin {
    text-align: left;
}

div#contenu.admin div#content-related {
    float: left;
    margin-left: 50px;
}

div#contenu.admin div#content-main {
    float: left;
    min-width: 800px;
    width: auto;
}
div#contenu.admin table td {
    min-width: 150px;
    padding: 5px;
    white-space: nowrap;
}
div#contenu.admin table tr {
    height: 22px;
}
div#contenu.admin table th {
    vertical-align: middle;
}
div#contenu.admin .object-tools {
    float: none;
    position: absolute;
    right: 10px;
    margin: 0;
    top: 85px;
}

div#contenu.errorlist {
    background-color: black;
}

div#contenu label {
    white-space: nowrap;
}

/* admin */
div#contenu .aligned label {
    width: 20em;
}
div.field-box label.inline {
    width: auto !important;
    border: 0;
}

/* admin */
div#contenu .form-row {
    vertical-align: middle;
}
div#contenu .selector {
    width: 1200px;
}
div#contenu .selector-available, div#contenu .selector-chosen {
    width: 500px;
}
div#contenu .selector select {
    width: 500px;
}

/*** COMMENTAIRES TICKETS ***/

h2.comment-title {
    white-space: normal;
    font-weight: bold;
    font-size: 20px;
    color: #777;
    margin-top: 0;
    margin-bottom: 10px;
}

.comments-list {
    text-align: left;
    padding: 5px;
    padding-top: 15px;
}

.comment_table {
    width: 95%;
    margin: auto auto;
}

.bubble {
    margin: 0 0 8px;
    background-color: #ddd;
    border-radius: 4px;
    width: 99%;
    padding:3px;
    position:relative;
    float: left;
}

.comment {
    border: 1px solid #ccc;
}

.comment h3 {
    height: 28px;
    line-height: 28px;
    padding: 0;
    margin: 0;
    font-weight: normal;
    vertical-align: top;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);
    
    border-bottom: 1px solid #ccc;

    background-color: #e1e1e1;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f1f1f1), to(#e1e1e1)); /* Konqueror */
    background-image: -moz-linear-gradient(top, #f1f1f1, #e1e1e1); /* FF 3.6+ */
    background-image: -ms-linear-gradient(top, #f1f1f1, #e1e1e1); /* IE10 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e1e1e1)); /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(top, #f1f1f1, #e1e1e1); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(top, #f1f1f1, #e1e1e1); /* Opera 11.10 */
    background-image: linear-gradient(top, #f1f1f1, #e1e1e1); /* The standard */
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#f1f1f1,#e1e1e1)); /* IE9 and down */

    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
}

.bubble.interne .comment h3 {
    color: #404040;
    background-color: #f5eac1;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#faf3de), to(#f5eac1)); /* Konqueror */
    background-image: -moz-linear-gradient(top, #faf3de, #f5eac1); /* FF 3.6+ */
    background-image: -ms-linear-gradient(top, #faf3de, #f5eac1); /* IE10 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #f5eac1)); /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(top, #faf3de, #f5eac1); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(top, #faf3de, #f5eac1); /* Opera 11.10 */
    background-image: linear-gradient(top, #faf3de, #f5eac1); /* The standard */
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#faf3de,#f5eac1)); /* IE9 and down */
}

.bubble.public .comment h3 {
    color: #404040;
    background-color: #bcddff;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#deeeff), to(#bcddff)); /* Konqueror */
    background-image: -moz-linear-gradient(top, #deeeff, #bcddff); /* FF 3.6+ */
    background-image: -ms-linear-gradient(top, #deeeff, #bcddff); /* IE10 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #bcddff)); /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(top, #deeeff, #bcddff); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(top, #deeeff, #bcddff); /* Opera 11.10 */
    background-image: linear-gradient(top, #deeeff, #bcddff); /* The standard */
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",#deeeff,#bcddff)); /* IE9 and down */
}

.comment h3 .bubble-icon {
    display: block;
    float: left;
    width: 24px;
    text-align: center;
    padding:0 1px 0 5px;
}

.comment h3 .bubble-icon img {
    margin-top: 3px;
    width: 20px;
}

.comment h3 .author {
    font-weight: bold;
    font-size: 12px;
    float:left;
    margin-left: 5px;
}

.comment h3 .author span {
    font-weight: normal;
    font-style: italic;
    font-size: 10px;
}

.comment h3 .info {
    color: #666;
    font-size: 11px;
    float:right;
    margin-right: 5px;
}

.comment pre {
    margin: 0;
    background-color: #fbfbfb;
    border: 0;
    padding: 6px;
    color: black;
    font-family: monospace !important;
    white-space: normal;

    word-wrap: break-word;
    display: block;
    min-height: 50px;
}

#contenu .comment pre p {
    font-size:13px;
    line-height: 16px;
}

.comment p.row1 {
    background-color: #ffffff;
}
.comment p.row2 {
    background-color: #eeffff;
}

/*** PAGINATION ***/

ol#pagination-digg {
    text-align: center;
    padding: 0;
    margin: 0;
    margin-top: 15px;
}

#pagination-digg li{
    border:0; margin:0; padding:0;
    font-size:11px;
    list-style:none;
    margin-right:2px;
    display:inline;
}
#pagination-digg a{
    border:solid 1px #9aafe5;
    margin-right:2px;
    -webkit-box-shadow: #ddd 2px 2px 10px;
    -moz-box-shadow: #ddd 2px 2px 10px;
    box-shadow: #ddd 2px 2px 10px;
}
#pagination-digg .previous-off,
#pagination-digg .next-off {
    border:solid 1px #DEDEDE;
    color:#888888;
    font-weight:bold;
    margin-right:2px;
    padding:3px 4px;
}
#pagination-digg .next a,
#pagination-digg .previous a {
    font-weight:bold;
}
#pagination-digg .active{
    background:#2e6ab1;
    color:#FFFFFF;
    font-weight:bold;
    padding:4px 6px;
}
#pagination-digg a:link,
#pagination-digg a:visited {
    color:#0e509e;
    display:inline;
    padding:3px 6px;
    text-decoration:none;
}
#pagination-digg a:hover {
    border:solid 1px #0e509e;
}

#index_content {
    text-align: left;
}

#index_content .container {
    border: 1px solid #D2D9EB;
    width: 350px;
    float: left;
    background: #F7F7FA none repeat scroll 0 0;
    height: 350px;
    overflow: auto;
    margin-right: 25px;
    margin-top: 10px;
    -webkit-box-shadow: #eee 5px 5px 10px;
    -moz-box-shadow:  #eee 5px 5px 10px;
    box-shadow:  #eee 5px 5px 10px;
}

#index_content .chart {
    width: 480px;
    height: 200px;
    overflow: visible !important;
}

#index_content div h2 {
    padding: 2px;
    padding-left: 20px;
    margin: 0;
    background: url('/static/images/bg_header.jpg');
    height: 34px;
    color: black;
    font-weight: bold;
    font-size: 1.8em;
}

#index_content ul {
    margin: 0;
    padding: 5px;
}

#index_content ul li {
    padding: 0;
    list-style-type: none;
}

.default button {
    font-weight: bold;
}

#save_buttons {
    border-top: 1px solid black;
    background: white;
    /* Ie sucks */
    position: fixed;
    bottom: 0;
    min-height: 40px;
    z-index: 20; /* over evrything */
    width: 100%;
}

#contenu .childs {
    margin-top: 70px;
}

#contenu .childs fieldset {
    background-color: #F2F0DC;
    padding-top: 2px;
}

#contenu .child legend {
    font-size: 16px;
}

#contenu .child legend img {
    text-align: left;
}

#contenu .child legend img:hover {
    cursor: pointer;
}

#contenu .child hr {
    padding-bottom: 30px;
    background-color: #F2F0DC;
}
#contenu .state_image {
    display: inline;
    float: right;
}
#contenu .state_image img {
    width: 30px;
}
#contenu .mail_image img {
    position: relative;
    top: 20px;
}

.claritickNewChild {
    background-image: url('/static/images/oxygen/list-add.png') !important;
    background-position: 0 100% !important;
}

.claritickTicketMailAction {
    background-image: url('/static/images/mail.png') !important;
    background-position: 0 100% !important;
}

.claritickNoTicketAlarm,.claritickTicketAlarm {
    background-image: url('/static/icones/alarm.png') !important;
    background-position: 0 100% !important;
}

.claritickEtiquettePrintIcon {
    background-image: url('/static/icones/filequickprint.png') !important;
    background-position: 0 100% !important;
}

.left_buttons {
    float: left;
}

.right_buttons {
    float: right;
    margin-right: 40px;
}

.fieldset_fixed {
    position: fixed;
    padding-top: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    background-color: white;
    text-align: center;
    margin: 0px !important;
}


.fieldset_fixed legend {
    display: none;
}

/* Inverting colors for "NOT" filters */
.inverted_colors {
    background-color: #FEE;
}

/* Google */
.gsc-control-cse {
    padding: 0 !important;
}

/* Dojo specific */
#contenu .dojoxMultiSelect {
    max-height: 400px;
    height: auto;
}
#contenu .dojoxMultiSelectItem {
    text-align: left;
}

#contenu p {
	margin-bottom: auto;
	margin-top: auto;
}

/* Admin override */
td.original p {
	font-size: 1em !important;
	position: relative !important;
}

.rappel .right {
    float: right;
}

.rappel h3 {
    margin-top: 0;
}
.rappel ul li {
    list-style-type: none;
}
.rappel .form-calendar {
    margin-bottom: 10px;
}

.datatable td {
    vertical-align: middle;
    padding-right: 30px;
    padding-left: 10px;
}

.datatable th {
    vertical-align: middle;
}

.datatable tr {
    border-bottom: 1px solid grey;
}

.datatable tr:nth-child(odd) {
    background-color: #D3DBFF;
}
.datatable tr:nth-child(even) {
    background-color: white;
}
