{% extends "base.html" %}

{% block title %}Internet Explorer{% endblock %}
{% block content_title %}Internet Explorer{% endblock %}
{% block image %}<img src="{{ STATIC_URL }}images/oxygen/dialog-error.png" />{% endblock %}

{% block content %}

<p>Internet explorer n'est pas supporté par CLARITICK.</p>
<p>Ce navigateur ne respecte pas les standards du web. Nous vons invitons à utiliser n'importe quel autre navigateur.</p>
<p>Quelques pistes: <a href="http://www.google.com/chrome/">Google Chrome</a>, <a href="http://www.getfirefox.com/">Mozilla Firefox</a></p>

{% endblock %}
