<?xml version='1.0' encoding='utf-8'?>
{% extends "base.html" %}

{% block content_title %}Agenda{% endblock %}
{% block image %}<img src="{{ STATIC_URL }}images/oxygen/help.png" />{% endblock %}


{% block content %}

{% if google_account %}
<iframe src="http://www.google.com/calendar/embed?showTitle=0&amp;showTz=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;bgcolor=%23EFF4FF&amp;src={{ google_account.login }}&amp;color=%232952A3&amp;ctz=Europe%2FParis" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
{% else %}
<h1 style="error">Vous devez spécifier votre compte Google Calendar pour accéder au service dans claritick.</h1>
{% endif %}

{% endblock %}
