#contenu div.image, div#save_buttons, div#gauche-spin, .dijitButtonNode, .no_print{
  display:none !important;
}

table#menuPrincipal{
  visibility:hidden;
}

#contenu h1.title{
  /*position:absolute;*/
  margin-top:-85px;
  width:30%;
  height:80px;
  left:10px;
  vertical-align:middle;
  padding:10px,10px,10px,10px;
  float:right;
  border-top:solid;
  border-width:1px;
  border-color:#777;
}

legend{
  background-color:#FFF;
}

fieldset#fieldset_general{
  position:absolute;
  margin-top:10px;
  right:0px;
  width:27.5%;
  float:right;
}

fieldset#fieldset_general div{
  display:block;
  line-height:20px;
  position:relative;
  left:30px;
}

fieldset#fieldset_general select{
    position:absolute;
    right:50px;
}

#contenu h1.title:before{
  content:"⠀";
  font-size:5.000em;
}

input, input[type="text"],option, input[type="password"], textarea, select, .vTextField{
  border:none;
  background-color:#FFFFFF;
}

#logoClaritick{
  display:block !important;
  visibility:visible !important;
  position:absolute;
  top:10px;
  left:10px;
  height:40px;
  width:160px;
}

input#id_title{
  font-size:2.0em;
  width:600px;
}

.form{
  background-color:#FFFFFF;
}

.print_title{
  position:relative;
  top:-85px;
/*  position:relative;
  top:-30px;*/
}

fieldset.print_content{
  margin-top:75px !important;
  padding-top:-10px;
}

fieldset table{
  border:none;
}

.print_title_field{
  width:30px;
}

.print_bottom_padding{
  padding-bottom:55px;
}
.print_bottom_padding input{
  width:510px !important;
}
select{
  background-color:#000;
  color:#fff;
  width:75px;
}
