/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ FEUILLE DE STYLE MTS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/*##################################################
################### STYLE GENERAL ##################
##################################################*/

* { font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif; }

.claritick body {
    margin:0;
    padding:0;
    background-color:#eff4ff;
    background-image:url('/media/images/deg_fond.png');
    background-repeat:repeat-y;
    background-position:left;
    font-size:9pt;
    color:#333;
}

img {
    border: 0;
}

h1.title {
    font-size: 2em;
    text-align:center; 
    font-weight:bold;
    margin:3px;
    margin-bottom:15px;
    margin-top: 0;
    color:#013368;
    background-color: #eeeeff;
    border: 1px solid black;
    border-top: 0;
	padding: 0;
}

h2 {
    font-size: 1.6em;
    text-align:left;
    font-weight:normal;
    margin:3px;
    margin-bottom:5px;
    color:#013368;
    margin-top: 20px;
}

.menuPrincipal ul {
	padding: 0;
	margin: 0;
}

ul li {
	padding: 0;
	margin: 0;
}

table {
  font-weight: bold;
  color: #013368;
  padding: 0;
  margin: 0;
}

table td,th,tr {
  padding: 0;
  margin: 0;
}

table.resultat {
	width: 98%;
	text-align: left;
}

table.resultat th,table.resultat td {
  border-right: 1px solid #ccc;
  font-weight: normal;
}

table.resultat th {
  white-space: nowrap;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

table.resultat td {
  padding: 5px;
}

table.search tr {
  margin: 5px;
  font-weight: bold;
}
table.search td {
	padding: 2px;
	padding-right: 30px;
}
table.search th {
	padding-right: 5px;
	vertical-align: middle;
}

table a {
  text-decoration: none;
  font-weight: bold;
  color: #013368;
}

table td.label {
  font-weight: normal;
}

table a:hover {
  text-decoration: none;
  color: red;
}

/*##################################################
################## LA BARRE DE MENU ################
##################################################*/

table.menuPrincipal{
    background:white;
    color:black;
    width:100%;
	border-collapse: separate;
    border-bottom:gray solid 1px;
}

.menuPrincipal td {
    padding:1px;
    vertical-align: middle;
}

/*##################################################
#################### FORMULAIRES ###################
##################################################*/

#contenu input, select, textarea {
    border: 1px solid #99afd6;
}

.claritick #contenu nput[type="button"], .claritick #contenu input[type="submit"] {
	background: transparent;
	border: 0;
	padding: 0;
}

form {
    margin:0;
    padding:0;
    border: 1px solid lightgrey;
}

#contenu form {
    background-color: #eeeeff;
}


/******************* Boutons de validation ********************/
.bouton {
    background-color:#FFFFFF;
    background-image:url('/media/images/deg_bouton.png');
    background-position:left center;
    background-repeat:repeat-x;
    border:1px solid #99AFD6;
    color:#333333;
    font-size:9pt;
    height:20px;
    line-height:20px;
    padding:0px 5px;
    margin-left: 10px;
    text-decoration:none;
    cursor: ;
}

.bouton_img {
    vertical-align: middle;
    padding: 5px;
    padding-left: 0;
    position: relative;
    left: 5px;
    z-index: 0;
}


/*##################################################
## BARRE DE SEPARATION FORMULAIRE/TABLEAU REPONSE ##
##################################################*/

.barre_separation{
    background-image:url('/media/images/deg_menu.png');
    height:30px;
    margin-top:10px;
}


/*##################################################
################## TABLEAU REPONSE #################
##################################################*/

.tableau_pt{
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    border:#013368 1px solid;
}

.tableau_pt input {
    width: 70%;
}

.tableau_center, .center {
    margin-left:auto;
    margin-right:auto;
    text-align: left;
}

.row1 { 
    background-color: white;
}
.row1 {
    background-color: #D3DBFF;
}

.rowVisited {
    color: grey;
}

.rowVisited a {
    color: grey;
}

.tableau_pt h2,.resultat th{
    background-color:#e4eaf6;
    background-image:url('/media/images/deg_entete.png');
    background-repeat:repeat-x;
    background-position:top;
    border-bottom:#013368 1px solid;
    color:#013368;
    height:30px;
    font-size: 1.5em;
    margin:0;
    padding:1px;
}


/*##################################################
################ STYLE MENU GAUCHE #################
##################################################*/

/* Menu de gauche */

#gauche {
    position: absolute;
    left:10px;
    width: 170px;
    height:98%;
    background-color:#98b3e9;
    background-image:url('/media/images/deg_menugauche.png');
    background-repeat:repeat-x;
    background-position:top;
    color:#013368;
    border-left:#013368 1px solid;
    border-bottom:#013368 1px solid;
    border-right:#013368 1px solid;
    text-align:center;
}

div#gauche ul.menu {
	margin-bottom: 5px;
}

div#gauche ul li {
	padding: 0;
    list-style-type : none;
    list-style-position : outside;
}

div#gauche h2 {
	color: black;
	margin: 0;
	vertical-align: middle;
}

div#gauche h2 img {
	position: relative;
	left: -10px;
}


div#gauche a { 
    margin:0;
    margin-top:5px;
    margin-left:2px;
    display:block;
    padding-left:5px;
    width:160px;
    height:25px;
    line-height:25px;
    background-color:#d6e2fa;
    background-image:url('/media/images/deg_menu.png');
    background-repeat:repeat-x;
    background-position:left;
    color:#013368;
    font-size: 10pt;
    font-weight:bold;
    text-decoration:none;
    border-bottom:#013368 1px solid;
}

div#gauche a:hover {
    background-color:#b0bfde;
    background-image:url('/media/images/deg_menusurvol.png');
    background-repeat:repeat-x;
    background-position:left;
    color:#fff;
    border-bottom:#fff 1px solid;
}


.menu {
    width:150px;
    margin:0;
    padding:0;
    list-style:none;
    text-align:left;
}


/************** div contenu **************/
#contenu {
    text-align: center;
    margin-left: 190px;
}

#contenu p {
    font-size: 1.2em;
}

#contenu h1 img {
    float: left;
}

#contenu .image {
    position: absolute;
    top: 50px;
    left: 200px;
}

#contenu table {
    margin-top: 20px;
	font-weight: normal;
}

#contenu table.search {
	margin: 10px;
}

#contenu table td label {
    vertical-align: top;
}

#contenu fieldset {
	margin-bottom: 20px;
}

#contenu fieldset p label {
	vertical-align: top;
}

#contenu fieldset legend {
	font-weight: bold;
	font-size: 2em;
	color: #777;
}

#contenu fieldset table .large {
	width: 150px;
}

#contenu fieldset table .right {
	padding-left: 50px;
}

#contenu fieldset table {
	margin: 0;
	padding: 0;
	color: black;
}


#contenu div.breadcrumbs {
	background: transparent;
	text-decoration: none;
}

.block, .inline {
	padding: 5px;
	text-align: left;
	padding-top: 15px;
	border: 1px solid #999;
	background-color: #dedede;
}

.inline div {
	display: inline;
}

.block label,.inline label {
	font-weight: bold;
}

table.menuPrincipal p img {
	position: relative;
	top: -5px;
}
table.menuPrincipal a {
	color: #555;
}

body.claritick fieldset {
	margin: 5px;
}

.claritick td {
	border: 0;
}

/* Admin hack */

div#contenu.admin {
	text-align: left;
}

div#contenu.admin div#content-related {
	float: left;
	margin-left: 50px;
}

div#contenu.admin div#content-main {
	float: left;
	min-width: 600px;
	width: auto;
}

div#contenu.admin .object-tools {
	float: none;
	position: absolute;
	right: 10px;
	margin: 0;
	top: 85px;
}

div#contenu.errorlist {
	background-color: black;
}

div#contenu label {
	white-space: nowrap;
}

/* admin */
div#contenu .aligned label {
	width: 20em;
}

/* admin */
div#contenu .form-row {
	vertical-align: middle;
}
div#contenu .selector {
	width: 1200px;
}
div#contenu .selector-available, div#contenu .selector-chosen {
	width: 500px;
}
div#contenu .selector select {
	width: 500px;
}
.comment h3 {
	float: right;
	padding: 0; 
	margin: 0;
	margin-right: 10px;
	height: 45px;
	width: 200px;
	font-weight: normal;
	vertical-align: top;
	border: 1px solid grey;
	background-color: white;
}

.comment pre {
	background-color: #efefef;
	border: 0;
	border-top: 1px solid black;
	margin-bottom: 5px;
	padding: 5px;
	min-height: 50px;
	color: black;
}

.comment pre.row1 {
	background-color: #eeeeff;
}
.comment pre.row2 {
	background-color: #dedede;
}


ol#pagination-digg {
	text-align: center;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

#pagination-digg li{
	border:0; margin:0; padding:0;
	font-size:11px;
	list-style:none;
	margin-right:2px;
	display:inline;
}
#pagination-digg a{
	border:solid 1px #9aafe5;
	margin-right:2px;
}
#pagination-digg .previous-off,
#pagination-digg .next-off {
	border:solid 1px #DEDEDE
	color:#888888;
	font-weight:bold;
	margin-right:2px;
	padding:3px 4px;
}
#pagination-digg .next a,
#pagination-digg .previous a {
	font-weight:bold;
} 
#pagination-digg .active{
	background:#2e6ab1;
	color:#FFFFFF;
	font-weight:bold;
	padding:4px 6px;
}
#pagination-digg a:link,
#pagination-digg a:visited {
	color:#0e509e;
	display:inline;
	padding:3px 6px;
	text-decoration:none;
}
#pagination-digg a:hover{
	border:solid 1px #0e509e
}

/* EOF */
