body
	{
	margin: 0px;
	font-size: 12px;
	}

.done
	{
	border-color: green;
	}

table
	{
	width: 100%;
	border-collapse: collapse;
	}

table#table_dev td,
table#table_dev th
    {
    color: black;
    font-size: 1.1em !important;
    line-height: inherit;
    padding: 1px 3px;
    }
table#table_dev td
	{
	border: 1px solid black;
    text-align: left;
	}

.align-center
	{
	text-align: center !important;
	}
	
.align-right
	{
	text-align: right !important;
	}

div.information
	{
	margin: 30px;
	padding: 30px;
	background-color: lightcyan;
	font-size: 1.3em;
	}

tr:hover
	{
	background-color: Beige;
	}

th
    {
    text-align: center;
    }

td
    {
    padding: 1px;
    }

ul.sousmenu li
    {
    display: inline;
    border: 2px outset;
    background-color: #eee;
    padding: 3px;
    }
tr.dev_depasse_date
    {
    background-color: lightpink;
    }
