{% extends "base.html" %}

{% block extrajs %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}suividev.css"/>
    <script type="text/javascript" lang="javascript">
        dojo.require("dijit.MenuBar");
        dojo.require("dijit.PopupMenuBarItem");
        dojo.require("dijit.Menu");
        dojo.require("dijit.MenuItem");
        dojo.require("dijit.PopupMenuItem");
        dojo.require("dijit.InlineEditBox");
    </script>
{% endblock %}

{% block content_title %}Suivi de développement{% endblock %}

{% block content %}
    <ul class="sousmenu">
        <li><a href="/developpements/liste/{{ project_id }}/">Liste complete</a></li>
        <li><a href="/developpements/shortlist/{{ project_id }}/">Liste reduite</a></li>
        <li><a href="/developpements/versions/{{ project_id }}/">Versions</a></li>
    </ul>
{% endblock %}
