{% extends "developpements/base.html" %}

{% load sexyfication %}

{% block head_addon %}
    <script type="text/javascript">
        dojo.require("dijit.Menu");
        dojo.require("dijit.ColorPalette");
        dojo.addOnLoad(function() {
            dojo.query("td.modifiable").forEach(function(ligne)
                {
                var contextMenu = new dijit.Menu({
                    targetNodeIds: [ligne]
                    });
                contextMenu.addChild(new dijit.MenuItem({
                    label: "Modifier",
                    onClick: function(event)
                        {
                        window.location = dojo.attr(ligne, 'url');
                        }
                    }));
                if (dojo.attr(ligne, 'itempk'))
                    {
                    // C'est un dev, pas un groupedev
                    contextMenu.addChild(new dijit.MenuItem({
                        label: "Noter comme étant terminé",
                        onClick: function(event)
                            {
                            var defer = dojo.xhrGet({
                                url : "{% url developpements.views.done %}",
                                handleAs : "json",
                                content : {
                                    dev_pk : dojo.attr(ligne, 'itempk'),
                                    },
                                load: function (response)
                                    {
                                    if (response.error)
                                        {
                                        alert (response.error);
                                        }
                                    else
                                        {
                                        var limage = dojo.create('img');
                                        dojo.attr(limage, 'src', '{{ MEDIA_URL }}icones/bool-True.png');
                                        dojo.place(limage, "nom_" + response.dev_pk, "first");
                                        }
                                    }
                                });
                            console.debug(defer);
                            }
                        }));
                    contextMenu.addChild(new dijit.MenuItem({
                        label: "Pas de couleur",
                        onClick: function(event)
                            {
                            var defer = dojo.xhrGet({
                                url : "{% url developpements.views.change_color %}",
                                handleAs : "json",
                                content : {
                                    dev_pk : dojo.attr(ligne, 'itempk'),
                                    },
                                load: function (response)
                                    {
                                    if (response.error)
                                        {
                                        alert (response.error);
                                        }
                                    else if (response.couleur)
                                        {
                                        console.debug(response.dev_pk, response.couleur);
                                        dojo.style("nom_" + response.dev_pk, "background-color", '#' + response.couleur);
                                        }
                                    else
                                        {
                                        dojo.style("nom_" + response.dev_pk, "background-color", 'inherit');
                                        }
                                    }
                                });
                            console.debug(defer);
                            }
                        }));
                    {% for couleur in couleurs %}
                        contextMenu.addChild(new dijit.MenuItem({
                            label: "Couleur {{ couleur }}",
                            style: "background-color: #{{ couleur }};",
                            onClick: function(event)
                                {
                                var defer = dojo.xhrGet({
                                    url : "{% url developpements.views.change_color %}",
                                    handleAs : "json",
                                    content : {
                                        dev_pk : dojo.attr(ligne, 'itempk'),
                                        couleur : "{{ couleur }}"
                                        },
                                    load: function (response)
                                        {
                                        if (response.error)
                                            {
                                            alert (response.error);
                                            }
                                        else if (response.couleur)
                                            {
                                            console.debug(response.dev_pk, response.couleur);
                                            dojo.style("nom_" + response.dev_pk, "background-color", '#' + response.couleur);
                                            }
                                        else
                                            {
                                            dojo.style("nom_" + response.dev_pk, "background-color", 'inherit');
                                            }
                                        }
                                    });
                                console.debug(defer);
                                }
                            }));
                    {% endfor %}
                    }
                contextMenu.startup();
                });
            });
        
    </script>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr style="background-color: #C0C0C0;">
                <th>&nbsp;</th>
                <th title="Cliens demandeurs">Clients</th>
                <th title="Poids de l'item">P</th>
                <th>Groupe</th>
                <th title="Poids du groupe">PG</th>
                <th title="Poids manuel">PM</th>
                <th>Libellé</th>
                <th title="Temps prévu (heures)">Temps</th>
                <th title="Version requise">VR</th>
                <th title="Date engagement">Eng</th>
                <th title="Date de sortie possible">Sortie</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for item in developpements %}
                <tr>
                    <td class="align-center" style="background-color: #C0C0C0;">{{ forloop.counter }}</td>
                    <td class="align-right" title="{{ item.clients|join:" " }}">{{ item.clients|length }}</td>
                    <td class="align-right">{{ item.poids }}</td>
                    <td class="{% if perms.developpements.change_groupedev %}modifiable{% endif %}" url="{% url admin:developpements_groupedev_change item.groupe.pk %}" title="{{ item.groupe.description }}">
                        {{ item.groupe }}
                    </td>
                    <td class="align-right" title="{{ item.poids_total }}">{{ item.groupe.poids }}</td>
                    <td class="align-right" title="{{ item.poids_total }}">{{ item.poids_manuel }}</td>
                    <td class="{% if perms.developpements.change_developpement %}modifiable{% endif %}{% if item.done %} done{% endif %}" url="{% url admin:developpements_developpement_change item.pk %}"
                        title="{{ item.description }}"
                        itempk="{{ item.pk }}"
                        id="nom_{{ item.pk }}"
                        {% if item.couleur %}style="background-color: #{{ item.couleur }};"{% endif %}>
                        {% if item.done %}{{ item.done|boolicon }}{% endif %}
                        {% if item.bug %}<img src="{{ MEDIA_URL }}icones/bug.png"/>&nbsp;{% endif %}
                        {{ item.nom }}
                    </td>
                    <td class="align-right">{{ item.temps_prevu|default_if_none:"&nbsp;" }}</td>
                    <td>{{ item.version_requise|default_if_none:"&nbsp;" }}</td>
                    <td class="align-center">{{ item.engagement|date:"d/m/Y" }}</td>
                    <td class="align-center">
                        {% if item.deja_dispo %}
                            {{ item.deja_dispo }}
                        {% else %}
                            {{ item.date_sortie|date:"d/m/Y" }}
                        {% endif %}
                    </td>
                    <td class="align-center">
                        {% if item.alerte %}
                            <img src="{{ MEDIA_URL }}icones/incendie.png" title="{{ item.alerte }}" alt="alerte"/>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
