{% extends "developpements/base.html" %}

{% load sexyfication %}

{% block head_addon %}
    <script type="text/javascript">
        dojo.require("dijit.Menu");
        dojo.require("dijit.ColorPalette");
        
        dojo.addOnLoad(function() {
            dojo.query("td.modifiable").forEach(function(ligne)
                {
                var contextMenu = new dijit.Menu({
                    targetNodeIds: [ligne]
                    });
                contextMenu.addChild(new dijit.MenuItem({
                    label: "Modifier",
                    onClick: function(event)
                        {
                        window.location = dojo.attr(ligne, 'url');
                        }
                    }));
                contextMenu.startup();
                });
            });
        
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <table>
        <thead>
            <tr>
                <th>Version</th>
                <th title="Date de sortie prévue">DSP</th>
                <th title="Date de sortie complète (si on veut inclure tous les dév requis pour cette version)">DSC</th>
                <th>Sortie</th>
            </tr>
        </thead>
        <tbody>
            {% for item in versions %}
                <tr>
                    <td class="align-right{% if perms.developpements.change_version %} modifiable{% endif %}" url="{% url admin:developpements_version_change item.pk %}">
                        {% if item.content %}
                            <div dojoType="dijit.form.DropDownButton" class="bouton_discret">
                                <span>{{ item.majeur }}.{{ item.mineur }}</span>
                                <div dojoType="dijit.TooltipDialog" title="Liste complète" style="display:none;">
                                    <table>
                                        <tr><th colspan="999">Contenu requis</th></tr>
                                        {% for dev in item.content %}
                                            <tr><td>{{ dev.groupe }}</td><td title="{{ dev.description }}">{{ dev }}</td></tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            {{ item.majeur }}.{{ item.mineur }}
                        {% endif %}
                    </td>
                    <td class="align-center">
                        {% if item.contenu_sortie_prevue %}
                            <div dojoType="dijit.form.DropDownButton" class="bouton_discret">
                                <span>{{ item.date_sortie|date:"d/m/Y" }}</span>
                                <div dojoType="dijit.TooltipDialog" title="Liste complète" style="display:none;">
                                    <table>
                                        <tr><th colspan="999">Contenu présent si sortie le {{ item.date_sortie|date:"d/m/Y" }}</th></tr>
                                        {% for dev in item.contenu_sortie_prevue %}
                                            <tr><td>{{ dev.groupe }}</td><td title="{{ dev.description }}">{{ dev }}</td></tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            {{ item.date_sortie|date:"d/m/Y" }}
                        {% endif %}
                    </td>
                    <td class="align-center">
                        {% if item.contenu_sortie_retardee %}
                            <div dojoType="dijit.form.DropDownButton" class="bouton_discret">
                                <span>{{ item.date_sortie_complete|date:"d/m/Y" }}</span>
                                <div dojoType="dijit.TooltipDialog" title="Liste complète" style="display:none;">
                                    <table>
                                        <tr><th colspan="999">Contenu supplémentaire présent si sortie retardée le {{ item.date_sortie_complete|date:"d/m/Y" }}</th></tr>
                                        {% for dev in item.contenu_sortie_retardee %}
                                            <tr><td>{{ dev.groupe }}</td><td title="{{ dev.description }}">{{ dev }}</td></tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            {{ item.date_sortie_complete|date:"d/m/Y" }}
                        {% endif %}
                    </td>
                    <td class="align-center">
                        {% if item.content %}
                            <div dojoType="dijit.form.DropDownButton" class="bouton_discret">
                                <span>{{ item.deja_sortie|boolicon }}</span>
                                <div dojoType="dijit.TooltipDialog" title="Liste complète" style="display:none;">
                                    <table>
                                        <tr><th colspan="999">Contenu</th></tr>
                                        {% for dev in item.content %}
                                            <tr><td>{{ dev.groupe }}</td><td title="{{ dev.description }}">{{ dev }}</td></tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                        {% else %}
                            {{ item.deja_sortie|boolicon }}
                        {% endif %}
                    </td>
                </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
