<div class="child" {% if child %}id="child{{ child.id }}"{% endif %}>
    <fieldset class="block form">
    {% if not child %}
        <legend>Nouveau Ticket fils</legend>
        <span>
    {% else %}
    <legend><img src="/media/images/{% if child.state_id == 4 %}plus.png{% else %}minus.png{% endif %}" alt="plus" onClick="togglePlusMinus(this, 'child{{ child.id }}_content');" />{{ child.title }}</legend>
        {% if child.state.img %}
        <span class="state_image"><img src="{{ child.state.img.url }}" alt="{{ child.state }}" /></span>
        {% endif %}
        <span id="child{{ child.id }}_content" style="display: {% if child.state_id == 4 %}none{% else %}inline{% endif %}">
    {% endif %}
            {{ cf.id }}
            <span>{{ cf.category.label_tag }} {{ cf.category }}</span>
            <span>{{ cf.project.label_tag }} {{ cf.project }}</span>
            <span>{{ cf.state.label_tag }} {{ cf.state }}</span>
            <span>{{ cf.assigned_to.label_tag }} {{ cf.assigned_to }}</span>
            <span id="diffusion_child{{ child.id }}" style="display: none;">{{ cf.diffusion }}</span>
            <span class="mail_image"><img onClick="toggleMailImage(this, 'diffusion_child{{ child.id }}');" src="/media/images/{% if not child.diffusion %}no_{% endif %}mail.png" alt="mail" /></span>
            {% if child %}
            <span id="delete_child{{ child.id }}" style="display: none">{{ cf.DELETE.label_tag }} {{ cf.DELETE }}</span>
            {% endif %}
            <hr />
            <table>
                <tr>
                    <th class="large">{{ cf.title.label_tag }}</th>
                    <td ticket_id="{{ child.id }}" class="large right">{{ cf.title }}</td>
                    <td class="large right">{{ cf.title.errors }}</td>
                </tr>
                <tr>
                    <th></th>
                    <td ticket_id="{{ child.id }}" class="right">{{ cf.text }}</td>
                    <td class="right">{{ cf.text.errors }}</td>
                </tr>
                <tr>
                    <th class="large">{{ cf.keywords.label_tag }}</th>
                    <td class="right">{{ cf.keywords }}</td>
                    <td></td>
                </tr>
            </table>
            <hr />
            {% if child %}
            {% with child as ticket_to_comment %}{% with cfc as form_to_comment %}
            {% include "ticket/comment.html" %}
            {% endwith %}{% endwith %}
            {% endif %}
        </span>
    </fieldset>
</div>
