{% load comments %}
{% get_comment_list for ticket_to_comment as comment_list %}

{% if comment_list %}
<table class="comment_table">
  <thead>
    <tr>
        {% if perms.ticket.can_view_internal_comments %}<th style="width:48%">Interne</th>{% endif %}
        <th style="width:48%">Diffusé au client</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        {% if perms.ticket.can_view_internal_comments %}
        <td>
            {% for comment in comment_list %}{% if comment.internal %}
                <div class="comment">
                    <h3><b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b> ({{ comment.user_name }})&nbsp;<i>Le {{ comment.submit_date|date:'d/m/Y à H\hi' }}</i></h3>
                    <pre class="{% cycle 'row1' 'row2' %}">{{ comment.comment|wordwrap:80 }}</pre>
                </div>
            {% endif %}{% endfor %}
        </td>
        {% endif %}

        <td>
            {% for comment in comment_list %}{% if not comment.internal %}
                <div class="comment">
                    <h3><b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b> ({{ comment.user_name }})&nbsp;<i>Le {{ comment.submit_date|date:'d/m/Y à H\hi' }}</i></h3>
                    <pre class="{% cycle 'row1' 'row2' %}">{{ comment.comment|wordwrap:80 }}</pre>
                </div>
            {% endif %}{% endfor %}
        </td>

      </tr>
    </tbody>
</table>
{% else %}
<p>Aucune réponse.</p>
{% endif %}

{% block comment_form %}
    {{ form_to_comment.errors }}
    <div style="display: none">
    {{ form_to_comment.timestamp }}
    {{ form_to_comment.object_pk }}
    {{ form_to_comment.security_hash }}
    {{ form_to_comment.content_type }}
    <input type="hidden" name="{% if cf.instance.id %}child{{ cf.instance.id }}_comment-{% endif %}email" value="{% if request.user.email %}{{ request.user.email }}{% else %}noreply@invalid.com{% endif %}" />
    <input type="hidden" name="{% if cf.instance.id %}child{{ cf.instance.id }}_comment-{% endif %}name" value="{% if request.user.username %}{{ request.user.username }}{% else %}anonyme{% endif %}" />
    </div>
    <table>
        <tr>
            <td>{{ form_to_comment.non_field_errors }}</td>
        </tr>
        <tr>
            <td>Nouvelle réponse: {{ form_to_comment.comment }}</td>
        </tr>
    </table>
    <div dojoType="dijit.Tooltip" connectId="{{ form_to_comment.get_comment_html_id }}" position="after" id="dijit_comment_{{ ticket_to_comment.id }}">
        <div style="display: none;">
            <img src="/media/images/oxygen/comment_public.png" alt="commentaire_public" />
            <p>Attention, la réponse sera transmise au client final</p>
        </div>
        <div>
            <img src="/media/images/oxygen/comment_internal.png" alt="commentaire_interne" />
            <p>La réponse sera conservée en interne</p>
        </div>
    </div>
    <p><input type="checkbox" checked="checked" name="{% if cf.instance.id %}child{{ cf.instance.id }}_comment-{% endif %}internal" onChange="toggleComment(this, 'dijit_comment_{{ ticket_to_comment.id }}');" /> Commentaire <b>interne</b> (Si cette case est cochée, cette réponse ne sera pas transmise au client final)</p>
{% endblock comment_form %}
