{% extends "base.html" %}

{% load comments diggpaginator %}

{% block title %}Liste des tickets{% endblock %}
{% block content_title %}Liste des tickets{% endblock %}
{% block image %}<img src="/media/images/oxygen/search.png" />{% endblock %}

{% block content %}

<fieldset>
  <legend>Filtrage</legend>
  <form method="POST" action="?reset=1">{% csrf_token %}
    <table class="search">
{{ form.as_column_table }}
    </table>
    <span class="bouton"><img class="bouton_img" src="/media/images/oxygen/cancel.png" /><input type="reset" value="Annuler" /></span>
    <span class="bouton"><img class="bouton_img" src="/media/images/oxygen/ok.png" /><input type="submit" value="Rechercher" /></span>
    <span class="bouton"><input type="submit" value="Enregistrer en tant que nouvelle liste" name="save_new_list" /></span> {{ saved_list_form.filter_list }}
  </form>
</fieldset>

{% if object_list %}
{% if page_obj.paginator.num_pages > 1 %}
{% diggpaginator page_obj %}
{% endif %}
<table class="resultat">
<tr>
    {% for column in columns %}
    <th><a href="?sort={{ column.name_toggled }}">{{ column }}</a> 
    {% if column.is_ordered %}
      {% if column.is_ordered_straight %}
      <img src="/media/images/oxygen/arrow-up.png" alt="up" />
      {% else %}
      <img src="/media/images/oxygen/arrow-down.png" alt="down" />
      {% endif %}
    {% endif %}
    </th>
    {% endfor %}
</tr>
{% for row in object_list %}
    {# get_comment_count for ticket.ticket row.id as comment_count #}
    <tr class="bigrow {% cycle 'row1' 'row2' %}">
        <td style="width: 60px;{{ row.close_style }}{{ row.priority_back_style }}"><a style="{{ row.priority_text_style }}" href="/ticket/modify/{{ row.id }}">{{ row.id }}</a></td>
        <td style="width: 200px;">{% if row.client %}{{ row.client }}{% endif %}</td>
        <td style="width: 100px;">{{ row.category }}</td>
        <td style="width: 100px;">{% if row.project %}{{ row.project }}{% endif %}</td>
        <td style="min-width: 250px;{{ row.close_style }}"><a style="{{ row.priority_text_style }}" href="/ticket/modify/{{ row.id }}">{{ row.title }}</a></td>
        <td>({{ row.nb_comments }})</td>
        <td>{{ row.contact }}</td>
        <td style="width: 150px;">{{ row.last_modification|date:'d/m/y H\hi' }}</td>
        <td>{{ row.opened_by }}</td>
        <td>{{ row.assigned_to }}</td>
    </tr>
{% endfor %}
</table>

{% if page_obj.paginator.num_pages > 1 %}
{% diggpaginator page_obj %}
{% endif %}

{% else %}
<h3>Aucun résultat</h3>
{% endif %}

{% endblock %}
