{% extends "base.html" %}

{% load comments diggpaginator %}

{% block title %}Liste des tickets{% endblock %}
{% block content_title %}Liste des tickets{% endblock %}
{% block image %}<img src="/media/images/oxygen/search.png" />{% endblock %}

{% block extrajs %}
<script type="text/javascript" charset="utf-8">
    dojo.addOnLoad(function() {
        dojo.connect(dojo.byId("select_all"), "onclick", function(evt) {
            if (dojo.byId("select_all").checked)
                var val = true;
            else
                var val = false;

            dojo.query("input[type^='checkbox'][id^='ticket_select']").forEach(function(tag) {
                tag.checked = val;
            });
        });
    });
</script>
{% endblock %}

{% block content %}

<form method="POST" action="?reset=1">{% csrf_token %}
<fieldset class="form">
  <legend>Filtrage</legend>
    <table class="search">
{{ form.as_column_table }}
    </table>
    <button type="reset" dojoType="dijit.form.Button">Annuler</button>
    <button type="submit" dojoType="dijit.form.Button">Rechercher</button>
    <button name="save_new_list" value="1" type="submit" dojoType="dijit.form.Button">Enregistrer en tant que liste</button> {{ saved_list_form.filter_list }}
</fieldset>

{% if object_list %}

{% if page_obj.paginator.num_pages > 1 %}
{% diggpaginator page_obj %}
{% endif %}

<table class="resultat">
<tr class="form">
    <td colspan="11">
        {{ action_form.actions }}  <button dojoType="dijit.form.Button" type="submit">Valider</button>
    </td>
</tr>
<tr>
    <th style="text-align: center;"><input type="checkbox" id="select_all" /></th>
    {% for column in columns %}
    <th><a href="?sort={{ column.name_toggled }}">{{ column }}</a> 
    {% if column.is_ordered %}
      {% if column.is_ordered_straight %}
      <img src="/media/images/oxygen/arrow-up.png" alt="up" />
      {% else %}
      <img src="/media/images/oxygen/arrow-down.png" alt="down" />
      {% endif %}
    {% endif %}
    </th>
    {% endfor %}
</tr>
{% for row in object_list %}
    {# get_comment_count for ticket.ticket row.id as comment_count #}
    <tr class="bigrow {% cycle 'row1' 'row2' %}">
        <td><input type="checkbox" name="ticket_checked" id="ticket_select_{{ forloop.counter }}" value="{{ row.pk }}" /></td>
        <td style="width: 60px;{{ row.close_style }}{{ row.priority_back_style }}"><a style="{{ row.priority_text_style }}" href="/ticket/modify/{{ row.id }}">{{ row.id }}</a></td>
        <td style="width: 200px;">{% if row.client %}{{ row.client }}{% endif %}</td>
        <td style="width: 100px;">{{ row.category }}</td>
        <td style="width: 100px;">{% if row.project %}{{ row.project }}{% endif %}</td>
        <td style="min-width: 250px;{{ row.close_style }}"><a style="{{ row.priority_text_style }}" href="/ticket/modify/{{ row.id }}">{{ row.title }}</a></td>
        <td>({{ row.nb_comments }})</td>
        <td>{{ row.contact }}</td>
        <td style="width: 150px;">{{ row.last_modification|date:'d/m/y H\hi' }}</td>
        <td>{{ row.opened_by }}</td>
        <td>{{ row.assigned_to }}</td>
    </tr>
{% endfor %}
</table>
</form>

{% if page_obj.paginator.num_pages > 1 %}
{% diggpaginator page_obj %}
{% endif %}

{% else %}
<h3>Aucun résultat</h3>
{% endif %}

{% endblock %}
