<?xml version='1.0' encoding='utf-8'?>
{% extends "ticket/modify.html" %}

{% block content_ticket %}
<fieldset class="block form">
  <legend>Contact</legend>
  <table>
    <tr>
        <td class="large"><label for="id_client">Client</label></td><td>{{ form.client }}</td>
        <td class="large right"><strong>Assigné à</strong></td><td>{{ ticket.assigned_to|default:"" }}</td>
    </tr>
    <tr>
        <td class="large"><label for="id_contact">Contact</label></td><td>{{ form.contact }}</td>
        <td class="large right"><label for="id_opened_by">Ouvert par</label></td><td>{{ ticket.opened_by }} le {{ ticket.date_open|date:"d/m/Y à H:i" }}</td>
    </tr>
    <tr>
        <td class="large"><label for="id_phone">Téléphone</label></td><td>{{ form.telephone }}</td>
        <td class="large right"><label for="id_last_modification">Dernière modif.</label></td><td>le {{ ticket.last_modification|date:"d/m/Y à H:i" }}</td>
    </tr>
    <tr>
        <td class="large">&nbsp;</td><td></td>
        <td class="large right"><strong>Validé par</strong></td><td>{{ ticket.validated_by|default:"" }}</td>
    </tr>
  </table>
</fieldset>

<fieldset class="block form">
  <legend>Contenu</legend>
  <p><label for="id_title">Titre</label> {{ form.title }}</p>
  <p>{{ form.text }}</p>
</fieldset>
<fieldset class="block form">
    <legend>Fichiers joint</legend>
    <table>
        {% for file in ticket.ticketfile_set.all %}
        <tr>
            <td><a href="{% url ticket_get_file file.pk %}">{{ file.filename }}</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td>{{ form.file }}</td>
        </tr>
    </table>
</fieldset>
<hr />
<button dojoType="dijit.form.Button" type="submit">Modifier / Valider</button>

{% endblock %}
