<?xml version='1.0' encoding='utf-8'?>
{% extends "base.html" %}

{% block title %}Ticket numéro {{ ticket.id }}{% endblock %}
{% block content_title %}Ticket numéro {{ ticket.id }}{% endblock %}
{% block image %}<img src="/media/images/oxygen/folder-open.png" />{% endblock %}

{% block content %}

{{ form.non_field_errors }}

<form enctype="multipart/form-data" action="{% url ticket_modify ticket.id %}" method="POST">
{% csrf_token %}
{% block content_ticket %}
<fieldset class="inline form">
  <legend>Général</legend>
  <div><label for="id_category">Categorie</label> {{ form.category }}</div>
  <div><label for="id_project">Projet</label> {{ form.project }}</div>
  <div><label for="id_priority">Priorité</label> {{ form.priority }}</div>
  <div><label for="id_state">État</label> {{ form.state }}</div>
</fieldset>

<fieldset class="block form">
  <legend>Contact</legend>
  <table>
    <tr>
        <td class="large"><label for="id_client">Client</label></td><td>{{ form.client }}</td>
        <td class="large right"><label for="id_assigned_to">Assigné à</label></td><td>{{ form.assigned_to }}</td>
    </tr>
    <tr>
        <td class="large"><label for="id_contact">Contact</label></td><td>{{ form.contact }}</td>
        <td class="large right"><label for="id_opened_by">Ouvert par</label></td><td>{{ ticket.opened_by }} le {{ ticket.date_open|date:"d/m/Y à H:i" }}</td>
    </tr>
    <tr>
        <td class="large"><label for="id_phone">Téléphone</label></td><td>{{ form.telephone }}</td>
        <td class="large right"><label for="id_last_modification">Dernière modif.</label></td><td>le {{ ticket.last_modification|date:"d/m/Y à H:i" }}</td>
    </tr>
    <tr>
        <td class="large">&nbsp;</td><td></td>
        <td class="large right">
            {% if ticket.validated_by %}
                <strong>Validé par</strong></td><td>{{ ticket.validated_by }}
            {% else %}
                {% if perms.ticket.can_validate_ticket %}
                    <td colspan="2"><button type="submit" dojoType="dijit.form.Button" name="_validate-ticket" value="Valider ce ticket">Valider ce ticket</button></td>
                {% endif %}
            {% endif %}</td>
    </tr>
  </table>
</fieldset>

<fieldset class="block form">
  <legend>Contenu</legend>
  <table>
    <tr>
        <th class="large">{{ form.title.label_tag }}</th>
        <td class="large right">{{ form.title }}</td>
    </tr>
    <tr>
        <th></th>
        <td class="right">{{ form.text }}</td>
    </tr>
    <tr>
        <th>{{ form.keywords.label_tag }}</th>
        <td class="right">{{ form.keywords }}</td>
    </tr>
  </table>
</fieldset>

<fieldset class="block form">
  <legend>Planification</legend>
  <table>
    <tr>
        <th class="large">{{ form.calendar_start_time.label_tag }}</th>
        <td class="right">{{ form.calendar_start_time }}</td>
    </tr>
    <tr>
        <th class="large">{{ form.calendar_end_time.label_tag }}</th>
        <td class="right">{{ form.calendar_end_time }}</td>
    </tr>
  </table>
</fieldset>

<fieldset class="block form">
    <legend>Fichiers joint</legend>
    <table>
        {% for file in ticket.ticketfile_set.all %}
        <tr>
            <td><a href="{% url ticket_get_file file.pk %}">{{ file.filename }}</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td>{{ form.file }}</td>
        </tr>
    </table>
</fieldset>
<hr />
<button dojoType="dijit.form.Button" type="submit">Modifier / Valider</button>

{% endblock %}

<fieldset class="block form" style="padding: 0;">
  <legend>Réponses</legend>
{% load comments %}
{% get_comment_list for ticket as comment_list %}

{% for comment in comment_list %}
<div class="comment">
    <h3><b>{{ comment.user.first_name }} {{ comment.user.last_name }}</b> ({{ comment.user_name }})<br/><i>{{ comment.submit_date|date:'d/m/Y H\hi' }}</i></h3>
    <p class="{% cycle 'row1' 'row2' %}">{{ comment.comment }}</p>
</div>
{% endfor %}

{% block comment_form %}
    <div style="display: none">
    {{ form_comment.timestamp }}
    {{ form_comment.object_pk }}
    {{ form_comment.security_hash }}
    {{ form_comment.content_type }}
    <input type="hidden" name="email" value="{% if request.user.email %}{{ request.user.email }}{% else %}noreply@invalid.com{% endif %}" />
    <input type="hidden" name="name" value="{% if request.user.username %}{{ request.user.username }}{% else %}anonyme{% endif %}" />
    </div>
    <table>
        <tr>
            <td>{{ form_comment.comment.label_tag }} {{ form_comment.non_field_errors }}</td>
        </tr>
        <tr>
            <td>{{ form_comment.comment.errors }}{{ form_comment.comment }}</td>
        </tr>
        <tr>
            <td><button dojoType="dijit.form.Button" type="submit" name="submit-comment" value="1">Ajouter le commentaire</button></td>
        </tr>
    </table>
{% endblock %}
</fieldset>

</form>
{% endblock %}
