<!-- <?xml version='1.0' encoding='utf-8'?> -->
{% extends "base.html" %}
{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}javascript/modify.js"></script>
<script type="text/javascript">
    dojo.require("dijit.form.NumberTextBox");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.form.Button");
    dojo.require("dijit.form.TextBox");

    last_host_type = false;
    function showTypedField(){
        arg=dijit.byId("id_data_type")
        if( arg.value==2 ){
            dijit.byId("id_fast_search").setDisabled(true);
            dijit.byId("id_fast_search").setChecked(false);
        }
        if(last_host_type==2){
            dijit.byId("id_fast_search").setDisabled(false);
        }
        if (last_host_type != false){
            dojo.byId("fieldset_"+last_host_type).classList.add("dijitHidden");
        }
        if(arg.value==6){
            dojo.byId("fieldset_"+3).classList.remove("dijitHidden");
            last_host_type=3;
        }
        else{
            dojo.byId("fieldset_"+arg.value).classList.remove("dijitHidden");
            last_host_type=arg.value;
        }
    }
    dojo.addOnLoad(showTypedField);
</script>
{% endblock %}

{% block title %} {{ form.instance.id }}{% endblock %}
{% block content_title %}Champ numéro {{ form.instance.id }}{% endblock %}
{% block image %}<img src="{{ MEDIA_URL }}images/oxygen/folder-open.png" />{% endblock %}

{% block content %}
{{ form.non_field_errors }}
<form onSubmit="return setHidden();" method="POST" id="extra_field_form">
{% csrf_token %}
<div id="parent">
    <fieldset id="fieldset_general" class="block form">
      <legend>Général</legend>
      <div>{{ form.name.label_tag }} {{ form.name }}</div>
      <div>{{ form.host_type.label_tag }} {{ form.host_type }}</div>
      <div>{{ form.data_type.label_tag }} {{ form.data_type }}</div>
      <div>{{ form.fast_search.label_tag }} {{ form.fast_search }}</div>
    </fieldset>

    <input type="hidden" id="default_val" name="default_val" value="" />

    <!-- Texte -->
    <fieldset id="fieldset_1" class="block form dijitHidden">
      <legend>Contenu</legend>
          <table>
              <tr>
                  <td>{{ form.text_val.label_tag }}</td>
                  <td>{{ form.text_val }}</td>
              </tr>
          </table>
    </fieldset>

    <!-- Bool -->
    <fieldset id="fieldset_2" class="block form dijitHidden">
      <legend>Contenu</legend>
      <table>
        <tr><td>{{form.bool_val.label_tag}}</td>
            <td>
                {{form.bool_val}}
            </td>
        </tr>
      </table>
    </fieldset>

    <!-- Choice -->
    <fieldset id="fieldset_3" class="block form dijitHidden">
      <legend>Contenu</legend>
      <table>
        <tr><td>{{form.choice01_val.label_tag}}</td><td>{{form.choice01_val}}</td></tr>
        <tr><td>{{form.choice02_val.label_tag}}</td><td>{{form.choice02_val}}</td></tr>
        <tr><td>{{form.choice03_val.label_tag}}</td><td>{{form.choice03_val}}</td></tr>
        <tr><td>{{form.choice04_val.label_tag}}</td><td>{{form.choice04_val}}</td></tr>
        <tr><td>{{form.choice05_val.label_tag}}</td><td>{{form.choice05_val}}</td></tr>
        <tr><td>{{form.choice06_val.label_tag}}</td><td>{{form.choice06_val}}</td></tr>
        <tr><td>{{form.choice07_val.label_tag}}</td><td>{{form.choice07_val}}</td></tr>
        <tr><td>{{form.choice08_val.label_tag}}</td><td>{{form.choice08_val}}</td></tr>
        <tr><td>{{form.choice09_val.label_tag}}</td><td>{{form.choice09_val}}</td></tr>
        <tr><td>{{form.choice10_val.label_tag}}</td><td>{{form.choice10_val}}</td></tr>
        <tr><td>{{form.choice11_val.label_tag}}</td><td>{{form.choice11_val}}</td></tr>
        <tr><td>{{form.choice12_val.label_tag}}</td><td>{{form.choice12_val}}</td></tr>
        <tr><td>{{form.choice13_val.label_tag}}</td><td>{{form.choice13_val}}</td></tr>
        <tr><td>{{form.choice14_val.label_tag}}</td><td>{{form.choice14_val}}</td></tr>
        <tr><td>{{form.choice15_val.label_tag}}</td><td>{{form.choice15_val}}</td></tr>
      </table>
    </table>
    </fieldset>

    <!-- Int -->
    <fieldset id="fieldset_4" class="block form dijitHidden">
      <legend>Contenu</legend>
      <table>
        <tr><td>{{form.int_val.label_tag}}</td>
            <td>
                {{form.int_val}}
            </td>
        </tr>
      </table>
    </fieldset>

    <!-- Date -->
    <fieldset id="fieldset_5" class="block form dijitHidden">
      <legend>Contenu</legend>
      <table>
      <tr> <td>{{form.date_val.label_tag}}</td>
           <td>
               {{form.date_val}}
            </td>
      </tr>
      </table>
    </fieldset>
    </div>
    <button type="submit" dojoType="dijit.form.Button">Modifier/Valider</button>
</div>
</form>
{% endblock content %}
