<?xml version='1.0' encoding='utf-8'?>
{% extends "base.html" %}

{% block title %}{% if field %}Champ {{ field }}{% else %}Création d'un champ complémentaire{% endif %}{% endblock %}
{% block content_title %}{% if field %}Champ {{ field }}{% else %}Création d'un champ complémentaire{% endif %}{% endblock %}
{% block image %}<img src="/media/images/oxygen/folder-open.png" />{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>Champ complémentaire</legend>
        <table>
            {{ form }}
        </table>
    </fieldset>

    <hr />
    <button type="submit" dojoType="dijit.form.Button">Modifier/Valider</button>
</form>

{% block comment %}
    {% if host %}
    {% load comments %}
    {% render_comment_form for host %}
    {% get_comment_list for host as comment_list %}
    {% for comment in comment_list %}
        {{ comment }}
    {% endfor %}
    {% endif %}
{% endblock %}

{% endblock %}
