<!-- <?xml version='1.0' encoding='utf-8'?> -->
{% extends "base.html" %}
{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}javascript/modify.js"></script>
<script type="text/javascript">
    dojo.require("dijit.form.NumberTextBox");
    dojo.require("dijit.form.DateTextBox");
    dojo.require("dijit.form.Button");
    dojo.require("dijit.form.TextBox");

    last_host_type = false;
    choice_list_txt_id={};

    function addChoiceTextField(choice_list){
        choice_list_txt_id[choice_list.id]+=1;

        txt=document.createElement('input');
        txt.id="id_txt_choice_"+choice_list_txt_id;
        txt.type="textbox";

        //dojo.byId("choice_list")
        choice_list
                .appendChild(document.createElement('tr'))
                .appendChild(document.createElement('td'))
                .appendChild(txt);
        dijit.form.TextBox(
            {placeHoder:"nouvelle entrée" },"id_txt_choice_"+choice_list_txt_id );
    }

    function showTypedField(){
        arg=dijit.byId("id_data_type")
        if (last_host_type != false){
            dojo.byId("fieldset_"+last_host_type).classList.add("dijitHidden");
        }
        dojo.byId("fieldset_"+arg.value).classList.remove("dijitHidden");
        if( arg.value==2 ){
            dijit.byId("id_fast_search").setDisabled(true);
            dijit.byId("id_fast_search").setChecked(false);
        }
        else if(arg.value==3 && choice_list_txt_id['choice_list_3']==undefined){
            choice_list_txt_id['choice_list_3']=0;
            dojo.addOnLoad(addChoiceTextField(dojo.byId("choice_list_3")));
        }
        else if(arg.value==6 && choice_list_txt_id['choice_list_6']==undefined){
            choice_list_txt_id['choice_list_6']=0;
            dojo.addOnLoad(addChoiceTextField(dojo.byId("choice_list_6")));
        }
        if(last_host_type==2){
            dijit.byId("id_fast_search").setDisabled(false);
        }
        last_host_type=arg.value;
    }

    dojo.addOnLoad(showTypedField);
</script>
{% endblock %}

{% block title %} {{ form.instance.id }}{% endblock %}
{% block content_title %}Champ numéro {{ form.instance.id }}{% endblock %}
{% block image %}<img src="{{ MEDIA_URL }}images/oxygen/folder-open.png" />{% endblock %}

{% block content %}
{{ form.non_field_errors }}
<form enctype="multipart/form-data" action="{% url clariadmin.views.new_extra_field %}" method="post" id="extra_field_form">
{% csrf_token %}
<div id="parent">
    <fieldset id="fieldset_general" class="block form">
      <legend>Général</legend>
      <div>{{ form.name.label_tag }} {{ form.name }}</div>
      <div>{{ form.host_type.label_tag }} {{ form.host_type }}</div>
      <div>{{ form.data_type.label_tag }} {{ form.data_type }}</div>
      <div>{{ form.fast_search.label_tag }} {{ form.fast_search }}</div>
    </fieldset>

    <!-- Texte -->
    <fieldset id="fieldset_1" class="block form dijitHidden">
      <legend>Contenu</legend>
          <table>
              <tr>
                  <td><label for="id_default_values"> Valeur par défaut </label></td>
                  <td>{{ form.default_values }}</td>
              </tr>
          </table>
    </fieldset>

    <!-- Bool -->
    <fieldset id="fieldset_2" class="block form dijitHidden">
      <legend>Contenu</legend>
      <table>
        <tr><td><label for="input_2">Valeur par défaut</label></td>
            <td>
                <input id="input_2" dojoType="dijit.form.CheckBox">
            </td>
        </tr>
      </table>
    </fieldset>

    <!-- Choice -->
    <fieldset id="fieldset_3" class="block form dijitHidden">
      <legend>Contenu</legend>
      <table>
        <tbody id="choice_list_3">
            <tr><td><label>Valeurs à proposer:</label></td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td>
                <button id="input_3_add_field" dojoType="dijit.form.Button" type="button">
                    Add Field
                    <script type="dojo/method" event="onClick" args="evt">
                        // Do something:
                        addChoiceTextField(dojo.byId("choice_list_3"));
                    </script>
                </button>
            </td></tr>
        </tfoot>
    </table>
    </fieldset>

    <!-- Int -->
    <fieldset id="fieldset_4" class="block form dijitHidden">
      <legend>Contenu</legend>
      <table>
        <tr><td><label for="input_4">Valeur par défaut</label></td>
            <td>
                <input id="input_4" type="text" dojoType="dijit.form.NumberTextBox"
                value="0" constraints="{min:0,places:0}"
                invalidMessage="Proposition non valide!">
            </td>
        </tr>
      </table>
    </fieldset>

    <!-- Date -->
    <fieldset id="fieldset_5" class="block form dijitHidden">
      <legend>Contenu</legend>
      <table>
      <tr> <td><label for="input_5">Valeur par défaut</label></td>
           <td>
               <input type="text" id="input_5" dojoType="dijit.form.DateTextBox"/>
            </td>
      </tr>
      </table>
    </fieldset>

    <!-- Choix multiple -->
    <fieldset id="fieldset_6" class="block form dijitHidden">
      <legend>Contenu</legend>
      <table>
        <tbody id="choice_list_6">
            <tr><td><label>Valeurs à proposer:</label></td>
            </tr>
        </tbody>
        <tfoot>
            <tr><td>
                <button id="input_6_add_field" dojoType="dijit.form.Button" type="button">
                    Add Field
                    <script type="dojo/method" event="onClick" args="evt">
                        // Do something:
                        addChoiceTextField(dojo.byId("choice_list_6"));
                    </script>
                </button>
            </td></tr>
        </tfoot>
    </table>
    </fieldset>
    </div>
    <button type="submit" dojoType="dijit.form.Button">Modifier/Valider</button>
</div>
</form>
{% endblock content %}
