<?xml version='1.0' encoding='utf-8'?>
{% extends "base.html" %}
    {% block extrastyle %}
    {% endblock %}
{% block title %}{% if host %}Machine {{ host }}{% else %}Création d'une machine{% endif %}{% endblock %}
{% block content_title %}{% if host %}Machine {{ host }}{% else %}Création d'une machine{% endif %}{% endblock %}
{% block image %}<img src="/media/images/oxygen/folder-open.png" />{% endblock %}
{% block extrajs %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/clariadmin.js"></script>
<script type="text/javascript" charset="utf-8">
    function handle_data(data){
        tab=dojo.byId("extra_fields");
        tab.innerHTML=data;
    }
    function typeChanged(select_box)
    {
        dojo.byId("extra_fieldset").classList.remove("dijitHidden");
        dojo.xhrGet({
            url:"{% url clariadmin.views.ajax_extra_fields_form -1 %}".replace('-1',select_box.item.value?select_box.item.value:-1),
            load:handle_data
            });
    }

function confirmation_callback(myBool, form_id){
    if(myBool){
        postwith(
        {delete:"true"},dojo.byId(form_id));
        }
}
</script>
{%endblock%}
{% block content %}

<form id="the_form" method="POST">
    {% csrf_token %}
    <fieldset style="float:left;">
        <legend>Machine</legend>
        <table class="search">
            {{ form }}
        </table>
    </fieldset>

    <fieldset id="extra_fieldset" {% if not additionnal_fields.fields %}class="dijitHidden"{% endif %}>
        <legend>Champs complémentaires</legend>
        <table id="extra_fields" class="search">
        {% if additionnal_fields.fields %}
            {{ additionnal_fields }}
        {% endif %}
        </table>
    </fieldset>

    <hr />
    {%if host%}<button type="button" onclick='confirmDialog("Supression de l hote", "Êtes vous sûr de vouloir supprimer cette machine de la base?", confirmation_callback, "the_form")' value="true" dojoType="dijit.form.Button">Suprimer</button>{%endif%}
    <button type="submit" name="save" dojoType="dijit.form.Button">Modifier/Valider</button>
</form>
{% spaceless %}
{% if host %}
    {% load comments %}
    {% render_comment_form for host %}
    {% render_comment_list for host %}
{% endif %}
{% endspaceless %}
{% endblock %}
