{% extends "base.html" %}

{% block title %}Liste des machines{% endblock %}
{% block content_title %}Liste des machines{% endblock %}
{% block image %}<img src="/media/images/oxygen/search.png" />{% endblock %}

{% block extrajs %}
{{ block.super }}
<script type="text/javascript" charset="utf-8">
    dojo.require("dojox.grid.DataGrid");
</script>
{% endblock %}
{% block content %}

<fieldset class="block form">
  <legend>Filtrage</legend>
  <form method="POST">
  {% csrf_token %}
    <table class="search">
{{ form.as_column_table }}
    </table>
    <button type="reset" dojoType="dijit.form.Button">Annuler</button>
    <button type="submit" dojoType="dijit.form.Button">Rechercher</button>
  </form>
</fieldset>

{% if page.object_list %}
<h2>Résultats</h2>
<table class="resultat trafiquable exportable" id="clariadmin_result_all">
<thead>
<tr>
    {% for column in columns %}
    <th field="test"><a href="?sort={{ column }}">{{ column }}</a></th>
{%comment%}
    {% if column.is_ordered %}
      {% if column.is_ordered_straight %}
      <img src="/media/images/oxygen/arrow-up.png" alt="up" />
      {% else %}
      <img src="/media/images/oxygen/arrow-down.png" alt="down" />
      {% endif %}
    {% endif %}
{%endcomment%}
    {% endfor %}
</tr>
</thead>
<tbody>
{% for row in page.object_list %}
    <tr>
        <td>{{ row.id }}</td>
        <td><a href="/clariadmin/modify/{{ row.id }}/">{{ row }}</a></td>
        <td>{{ row.type }}</td>
        <td>{{ row.site }}</td>
        <td>{{ row.inventory }}</td>
        <td>{{ row.status }}</td>
    </tr>
{% endfor %}
</tbody>
</table>

{% load diggpaginator %}
{% if page.paginator.num_pages > 1 %}
{% diggpaginator page %}
{% endif %}

{% else %}
<h3>Aucun résultat</h3>
{% endif %}

{% endblock %}
