{% extends "base.html" %}

{% block title %}Liste des machines{% endblock %}
{% block content_title %}Liste des machines{% endblock %}
{% block image %}<img src="/media/images/oxygen/search.png" />{% endblock %}

{% block content %}

<fieldset class="block form">
  <legend>Filtrage</legend>
  <form method="POST">
  {% csrf_token %}
    <table class="search">
{{ form.as_column_table }}
    </table>
    <button type="reset" dojoType="dijit.form.Button">Annuler</button>
    <button type="submit" dojoType="dijit.form.Button">Rechercher</button>
  </form>
</fieldset>

{% if page.object_list %}
<h2>Résultats</h2>
<table class="resultat" dojoType="dijit.Grid">
<tr>
    {% for column in columns %}
    <th><a href="?sort={{ column.name_toggled }}">{{ column }}</a> 
    {% if column.is_ordered %}
      {% if column.is_ordered_straight %}
      <img src="/media/images/oxygen/arrow-up.png" alt="up" />
      {% else %}
      <img src="/media/images/oxygen/arrow-down.png" alt="down" />
      {% endif %}
    {% endif %}
    </th>
    {% endfor %}
</tr>
{% for row in page.object_list %}
    <tr>
        <td><a href="/admin/clariadmin/host/{{ row.id }}/">{{ row }}</a></td>
    </tr>
{% endfor %}
</table>

{% load diggpaginator %}
{% if page.paginator.num_pages > 1 %}
{% diggpaginator page %}
{% endif %}

{% else %}
<h3>Aucun résultat</h3>
{% endif %}

{% endblock %}
