{% extends "base.html" %}

{% block title %} Liste des logiciels CLARISYS{% endblock %}
{% block content_title %}Liste des logiciels{% endblock %}
{% block image %}<img src="{{ STATIC_URL }}images/oxygen/search.png" alt="search" />{% endblock %}

{% block content %}

{% if packageauths %}
<h2>Clefs d'authentification CLARILAB Autoupdate <span style="color:red;">(authkey)</span></h2>
<table class="resultat" style="width: auto;">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Clef</th>
        </tr>
    </thead>
    <tbody>
    {% for pa in packageauths %}
    <tr class="{% cycle 'row2' 'row1' %}">
        <td>{{ pa.client }}</td>
        <td style="font-weight: bold;">{{ pa.key }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endif %}

{% if packages %}
<h2>Liste des fichiers disponibles</h2>
<table class="resultat" style="width: auto;">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Version</th>
            <th>Nom de fichier</th>
            <th>Plateforme</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    {% for package in packages %}
        <tr class="{% cycle 'row1' 'row2'%}">
            <td>{{ package.name }}</td>
            <td>{{ package.version }}</td>
            <td>{{ package.filename }}</td>
            <td>{{ package.platform }}</td>
            <td><a class="dijitButton dijitButtonNode" href="{% url packaging.views.download package.pk %}" style="font-size: 1.1em; padding: 5px;">
                Télécharger</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% else %}
<h3>Aucun logiciel à télécharger</h3>
{% endif %}

{% endblock content %}
