{% extends "base.html" %}

{% block title %}Liste des paquets{% endblock %}
{% block content_title %}Liste des paquets{% endblock %}
{% block image %}<img src="{{ STATIC_URL }}images/oxygen/search.png" alt="search" />{% endblock %}

{% block content %}
<form method="post" id="list_form">{% csrf_token %}
<fieldset class="form">
  <legend>Filtrage</legend>
    <table class="search">
        <tr>
            <th>{{ form.client.label_tag }}</th>
            <td>{{ form.client }}</td>
            <th>{{ form.kind.label_tag }}</th>
            <td>{{ form.kind }}</td>
        </tr>
    </table>
    <button type="reset" dojoType="dijit.form.Button">Annuler</button>
    <button type="submit" dojoType="dijit.form.Button">Rechercher</button>
</fieldset>
</form>

{% if packages %}

<ul>
{% for package in packages %}
  <li>{{ package }}</li>
{% endfor %}
</ul>

{% else %}
<h3>Aucun résultat</h3>
{% endif %}

{% endblock content %}
