{% extends "base.html" %}
{% block extrajs %}
<script type="text/javascript" charset="utf-8">
  dojo.addOnLoad(function(){
    dojo.connect(dijit.byId('id_gateway'),'onChange',function(event){
      dijit.byId('id_dns1').setValue(dijit.byId('id_gateway').value);
    });
    dojo.connect(dijit.byId('id_serial'),'onChange',function(event){
      dijit.byId('id_hostname').setValue('fai-'+dijit.byId('id_serial').value);
    });

  })
</script>
{% endblock %}
{% block content %}
<form method="POST">
{% csrf_token %}
<table class="clariadmin_form">
  {% for field in form %}
  <tr>
    <th>{{field.label}}</th>
    <td>{{field}}</td>
    <td>{{field.errors}}</td>
  </tr>
  {% endfor %}
</table>
<div id="save_buttons">
      <button dojoType="dijit.form.Button" iconClass="dijitEditorIcon dijitEditorIconSave" type="submit" name="submit_button" value="save">Enregistrer</button>
</div>
</form>
{% endblock %}
