{% extends "base.html" %}

{% block title %}Modification des coordonnées du laboratoire {{ client }}{% endblock %}
{% block content_title %}Modification des coordonnées du laboratoire {{ client }}{% endblock %}

{% block content %}
<p style="text-align: left;"><a href="{% url infos_login %}">&lt;&lt; Retour aux informations</a></p>
<form method="POST">
    {% csrf_token %}
    <fieldset class="block form bigfields">
        <legend>Coordonnées de {{ client }}</legend>
            <table>
            {{ coordinate_form.as_table }}
            {{ client_form.as_table }}
            </table>
        <button type="submit" dojoType="dijit.form.Button">Enregistrer</button>
    </fieldset>
</form>
{% endblock %}
