<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>CLARITICK - Gestion{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/media/style.css" />
    <!-- Admin -->
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
    {% block extrastyle %}{% endblock %}
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% admin_media_prefix %}css/rtl.css{% endblock %}" />{% endif %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <!-- End admin -->
    {% include "dojango/include.html" %}

    <script type="text/javascript" charset="utf-8">
        var MENU_CAN_HIDE = true;
    </script>
    {% block extrajs %}{% endblock %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/menu.js"></script>
{{ form.media }}
  </head>
{% load i18n %}
  <body class="{{ DOJANGO.THEME }} {% if is_popup %}popup {% endif %}{% block bodyclass %}claritick{% endblock %}">
    {% if not is_popup %}
    <table class="menuPrincipal" summary="Menu">
      <tr>
        <td align="left" width="33%">
          <a href="/"><img src="/media/images/accueil.png"></a>
        </td>
        <td valign="middle" align="center" width="33%">
          <a href="/"><img src="/media/images/logo_pt.png"></a>
        </td>
        <td align="right" width="33%">
          {% if user.is_authenticated %}
          <p style="padding: 0; margin: 0;">Utilisateur: {{ user.username }}<br />
            <a class="bouton" href="/accounts/logout"><img src="/media/images/oxygen/disconnect.png" />Déconnexion</a>
          </p>
          {% endif %}
        </td>
      </tr>
    </table>

    <div id="gauche">
        {% block claritick_menu %}
        <h2><img src="/media/images/icon-home.png" alt="home" />Général</h2>
        <ul class="menu">
            <li><a href="/">Accueil</a></li>
    {% if user.is_authenticated %}
            <li><a href="/agenda/">Agenda</a></li>
            {% if user.is_staff %}
            <li><a href="/admin/">Administration</a></li>
            {% endif %}
            {% if perms.ticket.can_view_report %}
            <li><a href="/reporting/ticket/">Reporting</a></li>
            {% endif %}
        </ul>
        
        <h2><img src="/media/images/icon-new.png" alt="+" />Création</h2>
        <ul class="menu">
            <li><a href="/ticket/partial_new">Ticket</a></li>
            {% if perms.clariadmin.can_access_clariadmin %}
            <li><a href="/admin/clariadmin/host/add/">Machine</a></li>
            {% endif %}
            {% if user.is_staff %}
            <li><a href="/admin/common/client/add/">Client</a></li>
            <li><a href="/admin/auth/user/add/">Utilisateur</a></li>
            {% endif %}
        </ul>
        
        <h2><img src="/media/images/icon-list.png" alt="/" />Tickets</h2>
        <ul class="menu">
            <li><a href="/ticket/list/all?reset=1">Tous</a></li>
            <li><a href="/ticket/list/me">Les miens</a></li>
            <li><a href="/ticket/list/unassigned">Non affectés</a></li>
            {% if ticket_views %}
            {% for view in ticket_views %}
            <li><a href="/ticket/list/{{ view.pk }}/">{{ view.name }}</a></li>
            {% endfor %}
            {% endif %}
            <!-- Loop products -->
            <!-- /Loop poducts -->
        </ul>
        {% if perms.clariadmin.can_access_clariadmin %}
        <h2><img src="/media/images/oxygen/computer.png" alt="/" />Clariadmin</h2>
        <ul class="menu">
            <li><a href="/clariadmin/list/all">Toute machine</a></li>
        {% endif %}
      {% endif %}
        </ul>
        {% endblock %}
    </div>
    <div id="gauche-spin">
    </div>

    <div id="contenu" class="{% block admin_class %}claritick{% endblock %}">
        <h1 class="title">{% block content_title %}{% if title %}{{ title }}{% endif %}{% endblock content_title %}</h1>
        <div class="image">{% block image %}{% endblock image %}</div>
    {% endif %}
        {% block content %}{% endblock content %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    {% if not is_popup %}
    </div>
    {% endif %} <!-- ispopup -->
    <!-- Dojo -->
    <script type="text/javascript">
        {% for require in DOJANGO.COLLECTOR %}
            dojo.require("{{ require }}");
        {% endfor %}                
    </script>  
    <!-- End Dojo -->  
  </body>
</html>


