<?xml version='1.0' encoding='utf-8'?>
{% extends "base.html" %}

{% block content_title %}Système de gestion{% endblock %}
{% block image %}<img src="/media/images/oxygen/help.png" />{% endblock %}
{% block extrajs %}
<script type="text/javascript" lang="javascript">
    var MENU_CAN_HIDE = false;
    dojo.addOnLoad(function() { dojo.style("gauche", "display", "block"); });
</script>
{% endblock %}

{% block content %}
<p>Bienvenu sur le système de gestion.</p>
{% if not user.is_authenticated %}
<p>Merci de vous <a href="/accounts/login/">IDENTIFIER</a></p>
{% endif %}

{% endblock %}
