{% extends "base.html" %}

{% block content_title %}Système de gestion{% endblock %}
{% block image %}<img src="/media/images/oxygen/help.png" alt="?" />{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    var MENU_CAN_HIDE = false;
    dojo.addOnLoad(function() { dojo.style("gauche", "display", "block"); });
</script>
{% endblock %}

{% block content %}
<p>Bienvenu sur le système de gestion.</p>
{% if not user.is_authenticated %}
<p>Merci de vous <a href="/accounts/login/">IDENTIFIER</a></p>
{% else %}
<div id="index_content">
    <div id="list_filters">
        <h2>Mes filtres</h2>
        <ul>
            {% if ticket_views %}
            {% for view in ticket_views %}
            <li><a href="{% url ticket_list_view view.pk %}">{{ view.name }}</a></li>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
    <div id="list_critical_tickets" style="width: 500px;">
        <h2>Tickets critiques</h2>
        <ul>
            {% for ticket in ticket_dashboard_critical %}
            <li><a href="{% url ticket_modify ticket.pk %}">[{{ ticket.id }}] {{ ticket.title|truncatewords:8 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div id="list_stats">
        <h2>Statistiques</h2>
        <ul>
            {% for entry in ticket_dashboard_text_statistics %}
            <li>{{ entry }}</a></li>
            {% endfor %}
        </ul>
    </div>    
</div>
{% endif %}

{% endblock %}
