{% extends "base.html" %}

{% block content_title %}Système de gestion{% endblock %}
{% block image %}<img src="/media/images/oxygen/help.png" alt="?" />{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    var MENU_CAN_HIDE = false;
    dojo.addOnLoad(function() { dojo.style("gauche", "display", "block"); });
</script>
{% endblock %}

{% block content %}
<p>Bienvenu sur le système de gestion.</p>
{% if not user.is_authenticated %}
<p>Merci de vous <a href="/accounts/login/">IDENTIFIER</a></p>
{% else %}
<div id="index_content">
    {% if ticket_views %}
    <div id="list_filters" class="container">
        <h2>Mes filtres</h2>
        <ul>
            
            {% for view in ticket_views %}
            <li><a href="{% url ticket_list_view view.pk %}">{{ view.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div id="list_critical_tickets" class="container" style="width: 500px;" >
        <h2>Tickets critiques</h2>
        <ul>
            {% for ticket in ticket_dashboard_critical %}
            <li><a href="{% url ticket_modify ticket.pk %}">[{{ ticket.id }}] {{ ticket.title|truncatewords:8 }}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    {% if ticket_dashboard_text_statistics %}
    <div id="list_stats" class="container">
        <h2>Statistiques</h2>
        <ul>
            {% for entry in ticket_dashboard_text_statistics %}
            <li>{{ entry }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <div id="stats_graph" class="container" style="width: 500px; height: auto;">
        <h2>Graphiques</h2>
        <script type="text/javascript">
        dojo.require("dojox.charting.Chart2D");
        dojo.require("dojox.charting.themes.Harmony");
        dojo.require("dojox.charting.themes.Shrooms");
        dojo.require("dojox.charting.widget.Legend");
        
        /* Helper to generate dojox chart */
        function generate_graph(name, chart_data)
        {
            var chart1 = new dojox.charting.Chart2D("chart_"+name);
            chart1.setTheme(dojox.charting.themes.Harmony);
            chart1.addPlot("default", {
                type: "Lines", 
                shadows: {dx: 2, dy: 2, dw: 2},
                tension: 4,
                markers: true
            });
            chart1.addAxis("x", {labels: chart_data.x_labels});
            chart1.addAxis("y", {
                vertical: true, majorTicks: true, 
                majorLabels: true, minorTicks: false, 
                minorLabels: false, microTicks: false
            });
            chart1.addSeries("line", chart_data.y_values, chart_data.series_properties);
            chart1.render();
            var legend = new dojox.charting.widget.Legend({chart: chart1, horizontal: true}, "chart_legend_"+name);
        } /* Chart helper */
        
        /* Helper to generate dojox chart */
        function generate_graph_average_delay(name, series, x_labels)
        {
            var chart2 = new dojox.charting.Chart2D("chart_"+name);
            chart2.setTheme(dojox.charting.themes.Shrooms);
            chart2.addPlot("default", {
                type: "Lines", 
                shadows: {dx: 2, dy: 2, dw: 2},
                tension: 4,
                markers: true
            });
            chart2.addAxis("x", {labels: x_labels});
            chart2.addAxis("y", {
                vertical: true, majorTicks: true, 
                majorLabels: true, minorTicks: false, 
                minorLabels: false, microTicks: false
            });
            
            dojo.forEach(series, function(serie, idx) {
                chart2.addSeries("line"+idx, serie.values, serie.properties);
            });
            
            chart2.render();
            var legend2 = new dojox.charting.widget.Legend({chart: chart2, horizontal: true}, "chart_legend_"+name);
        } /* Chart helper */
    
        dojo.addOnLoad(function(){
            SimpleAjax('{% url ajax_graph_permonth %}', '', function(ajax_response)
            {
                if (! ajax_response.charts) { return; }
                dojo.forEach(ajax_response.charts, function(chart_data, index) {
                    var name="permonth_"+index;
                    dojo.create('div', {'id': 'chart_legend_'+name, 'style': {'padding': 0, 'margin': 0}}, "stats_graph");
                    dojo.create('div', {'id': 'chart_'+name, 'class': 'chart'}, "stats_graph");
                    generate_graph(name, chart_data);
                });
            });
            SimpleAjax('{% url ajax_graph_average_close_time %}', '', function(ajax_response)
            {
                if (! ajax_response.series) { return; }
                var name = "average_delay";
                dojo.create('div', {'id': 'chart_legend_'+name, 'style': {'padding': 0, 'margin': 0}}, "stats_graph");
                dojo.create('div', {'id': 'chart_'+name, 'class': 'chart'}, "stats_graph");
                generate_graph_average_delay(name, ajax_response.series, ajax_response.x_labels);
            });
        });
        </script>
    </div>
</div>
{% endif %}

{% endblock %}
