<div id="filter_{{ filter_id }}">
    {{ filtering_field_display|safe }}
    {{ filtering_type_display|safe }}
    <input type="hidden" name="model_for_filter_{{ filter_id }}" value="{{ filtering_model_name }}"/>
    <input type="hidden" name="field_for_filter_{{ filter_id }}" value="{{ filtering_field }}"/>
    <input type="hidden" name="type_for_filter_{{ filter_id }}" value="{{ filtering_type }}"/>
    {% if filtering_type == 'IN' %}
        <button dojoType="dijit.form.Button" onclick="add_a_value_for_filter({{ filter_id }});">+</button>
        <div id="values_for_filter_{{ filter_id }}" style="display: inline;"><input type="text" id="value_for_filter_{{ filter_id }}" name="value_for_filter_{{ filter_id }}[]" size="2"/></div>
    {% else %}{% if filtering_type_type == 'date' %}
        <input type="text" dojoType="dijit.form.DateTextBox" id="value_for_filter_{{ filter_id }}" name="value_for_filter_{{ filter_id }}"/>
    {% else %}{% if filtering_type_type == 'interval' %}
        <input type="hidden" name="value_for_filter_{{ filter_id }}" id="value_for_filter_{{ filter_id }}" onChange="update_interval_field({{ filter_id }}, 'reverse');"/>
        <input type="text" id="number_for_filter_{{ filter_id }}" onChange="update_interval_field({{ filter_id }});" size="2"/>
        <select id="granularity_for_filter_{{ filter_id }}" onChange="update_interval_field({{ filter_id }});">
            <option value="minutes">Minutes</option>
            <option value="hours">Heures</option>
            <option value="days" selected="selected">Jours</option>
            <option value="weeks">Semaines</option>
            <option value="months">Mois</option>
            <option value="years">Ans</option>
        </select>
    {% else %}
        <input type="text" id="value_for_filter_{{ filter_id }}" name="value_for_filter_{{ filter_id }}" size="2"/>
    {% endif %}{% endif %}{% endif %}
    <a href="javascript:remove_filter({{filter_id}});"><img src="{{ MEDIA_URL }}icones/clear.png" height="18px"/></a>
</div>
