{% extends "base.html" %}

{% block extrahead %}
    {% block imports_js %}
    {% endblock %}
    <script type="text/javascript">
            {% block qbuilder_functions_js %}
            {% endblock %}
            {% block make_chart_js %}
            {% endblock %}
    </script>
    <style>
        table.qbuilder_homepage
        {
            width: 99%;
        }
        table.qbuilder_homepage td
            {
            vertical-align: top;
            }
        ul, li
        {
            margin: 0;
            padding-left: 15px;
            list-style-type: none;
            text-align: left;
        }
        li {
            list-style-type: circle;
            border-bottom: 1px solid grey;
            margin-bottom: 5px !important;
            font-size: 1em !important;
        }
        table.qbuilder_homepage td.qbuilder_graph_container
            {
            text-align: right;
            }
        div#container {
            margin: 2px !important;
        }
        li.qbuilder_query_link a.qbuilder_edit_link
            {
            display: none;
            margin-left: 10px;
            }
        li.qbuilder_query_link:hover a.qbuilder_edit_link
            {
            display: inline;
            }
    </style>
{% endblock %}

{% block content %}
    <table class="qbuilder_homepage">
        <tbody>
            <tr>
                <td style="min-width: 220px; width: 220px;">
                    <ul>
                        {% if not full_screen %}
                        {% for query in queries %}
                            <li class="qbuilder_query_link"><a href="{% url qbuilder_home query.pk %}">{{ query.name }}</a></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </td>
                <td class="qbuilder_graph_container">
                    {% block graph_container %}
                    {% endblock %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
