<div>
<style type="text/css">
        .comment_field {
             width: 100% ! important;
        }
        #comment_table {
             width: 99% ! important;
        }
        #comment_table th {
             width: 5%;
             padding-right:10px;
        }
        .better td {
             padding: 0px, 0px;
             padding: 1px!important;
        }
        .better th {
             vertical-align: middle;
        }
        .no_border{
          border:0px!important;
        }
</style>
{% include "clariadmin/host_base.html" %}
</div>
